<form #staffFormUpdate="ngForm">

  <!-- Nhập mật khẩu cũ -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Mật khẩu cũ:</label>
      <div class="col-sm-6">
        <input type="password" (keyup)="KiemTraMatKhau()" [class.is-invalid]="Mat_khau_cu.invalid && Mat_khau_cu.touched" #Mat_khau_cu="ngModel" class="form-control " id="Mat_khau_cu"  [(ngModel)]="mat_khau_cu" name="Mat_khau_cu" placeholder=" Enter your old password" minlength="8" maxlength="32" required>
      </div>
      <button class="buttonicon d-flex justify-content-center"  (click)="AnPass('an_mat_khau_cu')">
        <i class="fas fa-eye col-sm-2 p-2" id="hien_mat_khau_cu"></i>
      </button>
      <button class="buttonicon d-flex justify-content-center"  (click)="HienThiPass('hien_mat_khau_cu')">
        <i class="fas fa-eye-slash col-sm-2 p-2" id="an_mat_khau_cu"></i>
      </button>
      <div class="mess-err" *ngIf="Mat_khau_cu.errors && (Mat_khau_cu.invalid || Mat_khau_cu.touched)">
        <small class="err text-danger" *ngIf="Mat_khau_cu.errors.required"> Mật khẩu không được trống! </small>
        <small class="err text-danger" *ngIf="Mat_khau_cu.errors.minlength "> Mật khẩu nằm trong khoảng độ dài ký tự từ 8 đến 32 </small>
      </div>
      <div class="mess-err"  id="err_mat_khau_cu">
        <small class="err text-danger">  Chỉ sử dụng chữ cái, số và ký tự chấm câu thường gặp</small>
      </div>
      <div class="mess-err" id="err_khong_trung_mat_khau_cu">
        <small class="err text-danger">Xác nhận mật khẩu không hợp lệ</small>
      </div>
    </div>

       <!-- Nhập mật khẩu mới  -->

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Mật khẩu mới:</label>
      <div class="col-sm-6">
        <input type="password" (keyup)="KiemTraMatKhau()" [class.is-invalid]="Mat_khau_moi.invalid && Mat_khau_moi.touched" #Mat_khau_moi="ngModel" class="form-control " id="Mat_khau_moi"  [(ngModel)]="mat_khau_moi" name="Mat_khau_moi" placeholder=" Enter your new password" minlength="8" maxlength="32" required >
      </div>
      <button class="buttonicon d-flex justify-content-center" (click)="AnPass('an_mat_khau_moi')">
        <i class="fas fa-eye col-sm-2 p-2"  id="hien_mat_khau_moi"></i>
      </button>
      <button class="buttonicon d-flex justify-content-center"  (click)="HienThiPass('hien_mat_khau_moi')">
        <i class="fas fa-eye-slash col-sm-2 p-2" id="an_mat_khau_moi"></i>
      </button>
       <div class="mess-err" *ngIf="Mat_khau_moi.errors && (Mat_khau_moi.invalid || Mat_khau_moi.touched)">
        <small class="err text-danger" *ngIf="Mat_khau_moi.errors.required"> Mật khẩu không được trống! </small>
        <small class="err text-danger" *ngIf="Mat_khau_moi.errors.minlength "> Mật khẩu nằm trong khoảng độ dài ký tự từ 8 đến 32 </small>
      </div>
      <div class="mess-err" id="err_mat_khau_moi">
        <small class="err text-danger" >  Chỉ sử dụng chữ cái, số và ký tự chấm câu thường gặp</small>
      </div>
    </div>

      <!-- Xác nhận mật khẩu mới  -->

    <div class="form-group row">
      <label class="col-sm-4 col-form-label">Xác nhận mật khẩu mới:</label>
      <div class="col-sm-6">
        <input type="password" (keyup)="KiemTraMatKhau()" [class.is-invalid]="Xac_nhan_mat_khau.invalid && Xac_nhan_mat_khau.touched" #Xac_nhan_mat_khau="ngModel" class="form-control " id="Xac_nhan_mat_khau"  [(ngModel)]="xac_nhan_mat_khau_moi" name="Xac_nhan_mat_khau" placeholder=" Enter your confirm password" minlength="8" maxlength="32" required >
      </div>
      <button class="buttonicon d-flex justify-content-center" (click)="AnPass('an_xac_nhan_mat_khau')">
        <i class="fas fa-eye col-sm-2 p-2"  id="hien_xac_nhan_mat_khau"></i>
      </button>
      <button class="buttonicon d-flex justify-content-center"  (click)="HienThiPass('hien_xac_nhan_mat_khau')">
        <i class="fas fa-eye-slash col-sm-2 p-2" id="an_xac_nhan_mat_khau"></i>
      </button>
      <div class="mess-err" *ngIf="Xac_nhan_mat_khau.errors && (Xac_nhan_mat_khau.invalid || Xac_nhan_mat_khau.touched)">
        <small class="err text-danger" *ngIf="Xac_nhan_mat_khau.errors.required"> Mật khẩu không được trống! </small>
        <small class="err text-danger" *ngIf="Xac_nhan_mat_khau.errors.minlength"> Mật khẩu nằm trong khoảng độ dài ký tự từ 8 đến 32 </small>
      </div>
      <div class="mess-err"  id="err_xac_nhan_mat_khau">
        <small class="err text-danger"> Chỉ sử dụng chữ cái, số và ký tự chấm câu thường gặp. </small>
      </div>

      <div class="mess-err" id="err_khong_trung_mat_khau_moi">

        <small class="err text-danger">  Xác nhận mật khẩu không hợp lệ</small>
      </div>
    </div>

     <!-- Button xác nhận -->
    <div class="form-group row">
      <label class="col-sm-4 col-form-label"></label>
      <div class="col-sm-8">
        <button type="button" disabled (click)="DoiMatKhau()" class="btn changepasswordbutton" data-controls-modal="modals" data-backdrop="static" data-keyboard="false" id="xac_nhan">
          Xác nhận
         </button>
         <br>
         <br>
         <button class="buttonicon" routerLinkActive="list-item-active" routerLink="/forgotpassword"  ><u>Quên mật khẩu?</u></button>
        </div>
    </div>
</form>


