<div class="container" id="NhanVienMainContent">

  <!-- Đỗ dữ liệu vào bảng -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card">
            <div class="card-header text-center font-weight-bold">
              <div class="row">
                <div class="col-sm-3 d-flex align-items-center">
                  <h5>THÔNG TIN NHÂN VIÊN</h5>
                </div>
                <div class="col-sm-9">
                  <mat-toolbar>
                    <mat-toolbar-row>
                      <div class="input-group rounded">
                        <input type="text" [(ngModel)]="keyword" (ngModelChange)="SearchByKeyWord()" name="keyword"
                          class="form-control search rounded" placeholder="Search" aria-label="Search"
                          aria-describedby="search-addon" />
                      </div>
                      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                        <nav class="navbar navbar-expand-md navbar-light">
                          <div class="collapse navbar-collapse" id="basicExampleNav4">
                            <ul class="navbar-nav nav-flex-icons ml-auto">
                              <li class="nav-item dropdown notifications-nav pr-md-3 searchbar">
                                <select class="form-control form-control-sm border-non setwidth searchselect"
                                  (change)="SearchByOption($event)">
                                  <option class="item" selected disabled value="">Tìm kiếm</option>
                                  <option class="item" value="Tất cả">Tất cả</option>
                                  <option class="item" value="Mới nhất">Mới nhất</option>
                                  <option class="item" value="Cũ nhất">Cũ nhất</option>
                                  <option class="item" value="Nam">Nam</option>
                                  <option class="item" value="Nữ">Nữ</option>
                                </select>
                              </li>
                              <li>
                                <button type="button" class="btn them_nhan_vien_button" (click)="open(content)"
                                  data-controls-modal="modals" data-backdrop="static" data-keyboard="false">
                                  + Thêm nhân viên
                                </button>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                    </mat-toolbar-row>
                  </mat-toolbar>
                </div>
              </div>
            </div>
            <div class="card-header pb-0">
              <div class="row">
                <div class="col-sm-3">
                  <button (click)="HienThiMa()" class="controlcheckbox" id="HienThiMa">
                    Hiển thị mã nhân viên
                  </button>
                  <button (click)="AnMa()" class="controlcheckbox" id="AnMa">
                    Ẩn mã nhân viên
                  </button>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                  <!-- Phân trang -->
                  <ul id="pagination">
                    <li *ngFor="let item of dsnhanvien | paginate: { itemsPerPage: 10, currentPage: p }"> </li>
                  </ul>

                  <pagination-controls (pageChange)="p = $event" (click)="ChuyenTrang(p)"></pagination-controls>
                </div>
                <div class="col-sm-3 d-flex justify-content-end">
                  <p class="tong_phieu_dat">Tổng số nhân viên: {{dsnhanvien.length}}</p>
                </div>
              </div>
            </div>
            <div class="card-header button" id="divbutton">
              <button (click)="open_delete(content_delete, null)" class="controlcheckbox">
                <i class="fas fa-trash"></i>
              </button>
              <button class="iconbutton controlcheckbox" (click)="open_send_mail(content_mails, null)">
                <i class="fas fa-envelope"></i>
              </button>
            </div>

            <div class="card ds">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="content">
                      <th class="align-middle">
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" value="{{checkAll}}" type="checkbox" [checked]="checkAll"
                            id="flexCheckDefault" (change)="KTCheckedAll()">
                          <!-- <p>{{checkAll}}</p> -->

                        </div>
                      </th>
                      <th class="align-middle">STT</th>
                      <th class="align-middle" *ngIf="hienthi">Mã nhân viên</th>
                      <th class="align-middle">Họ tên</th>
                      <th class="align-middle">Ngày sinh</th>
                      <th class="align-middle">Địa chỉ</th>
                      <th class="align-middle">Giới tính</th>
                      <th class="align-middle">Số điện thoại</th>
                      <th class="align-middle">Email</th>
                      <th class="align-middle">CMND</th>
                      <th class="align-middle">Ngày tạo</th>
                      <th class="align-middle">Ngày chỉnh sửa</th>
                      <th class="align-middle">Tác vụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eachNV of nhanviens; let i = index;">
                      <td class="align-middle">
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" [id]="i" type="checkbox" value="{{checked[i]}}"
                            [checked]="checked[i]" (change)="KTChecked(i)" name="itemcheck">
                          <!-- <p>{{checked[i]}}</p> -->
                        </div>
                      </td>
                      <td class="content">{{i + 1}}</td>
                      <td class="content" *ngIf="hienthi">{{eachNV.Nhan_vien_id}}</td>
                      <td>{{eachNV.Ho_ten}}</td>
                      <td class="content">{{eachNV.Ngay_sinh | date:'shortDate'}}</td>
                      <td>{{arrdiachi[i].Xa_Phuong}}, {{arrdiachi[i].Huyen_Quan}}, {{arrdiachi[i].Tinh_ThanhPho}}</td>
                      <td class="content"> {{eachNV.Gioi_tinh}}</td>
                      <td class="content">{{eachNV.So_dien_thoai}}</td>
                      <td class="content">{{eachNV.Email}}</td>
                      <td class="content">{{eachNV.CMND_CCCD}}</td>
                      <td class="content">{{eachNV.Thoi_gian_tao | date:'shortDate'}}</td>
                      <td class="content">{{eachNV.Thoi_gian_cap_nhat | date: 'shortDate'}}</td>

                      <td class="content">
                        <span class="action">
                          <button class="buttonicon" (click)="open_update(content_update, eachNV)"
                            data-controls-modal="modals_update" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-edit m-1"></i>
                          </button>
                          <button class="buttonicon" (click)="open_delete(content_delete, eachNV.Nhan_vien_id)"
                            data-controls-modal="modals_delete" data-backdrop="static" data-keyboard="false">
                            <!-- (click)="XoaNhanVien(eachNV.Nhan_vien_id)" -->
                            <i class="far fa-trash-alt m-1"></i>
                          </button>
                          <button class="buttonicon">
                            <i class="far fa-envelope m-1" (click)="open_send_mail(content_mails, eachNV)"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Dialog tạo tài khoản -->
<div class="container" id="modals">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">TẠO TÀI KHOẢN NHÂN VIÊN</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require"> Tài khoản</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="Ten_dang_nhap" [(ngModel)]="nhanvien.Nhan_vien_id"
                  name="Ten_dang_nhap" placeholder="Tên đăng nhập" formControlName="Ten_dang_nhap" [pattern]="Ten_dang_nhap_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['Ten_dang_nhap'].invalid && (form.controls['Ten_dang_nhap'].dirty || form.controls['Ten_dang_nhap'].touched)">
            
                <small class="err text-danger" *ngIf="form.controls['Ten_dang_nhap'].errors.pattern"> Tài khoản không có dấu. Độ
                  dài từ 8 đến 32 ký tự! </small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require"> Họ và tên</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="Ho_ten" [(ngModel)]="nhanvien.Ho_ten" name="Ho_ten"
                  placeholder="Họ và tên" formControlName="Ho_ten">
              </div>
            
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Ngày sinh</label>
              </div>
              <div class="col-sm-8">
                <input type="date" class="form-control " id="NgaySinh" [(ngModel)]="nhanvien.Ngay_sinh" name="NgaySinh"
                  placeholder="Ngày sinh" (change)="KiemTraNgaySinh(nhanvien.Ngay_sinh)" formControlName="Ngay_sinh">
              </div>
              <div class="mess-err">
                <small id="errNgaySinh2" class="err text-danger"> Ngày sinh chưa hợp lệ! </small>
                <small id="errNgaySinh3" class="err text-danger"> Chỉ được đăng ký tài khoản khi đủ 18 tuổi trở lên! </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Địa chỉ Email</label>
              </div>
              <div class="col-sm-8">
                <input type="email" id="email" class="form-control" formControlName="email" [(ngModel)]="nhanvien.Email"
                  name="email" placeholder="Địa chỉ Email" [pattern]="email_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                <small class="err text-danger"  *ngIf="form.controls['email'].errors.pattern"> Chưa đúng định dạng Email! </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Số điện thoại</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="So_dien_thoai" [(ngModel)]="nhanvien.So_dien_thoai"
                  name="So_dien_thoai" placeholder=" Số điện thoại" formControlName="So_dien_thoai" [pattern]="So_dien_thoai_pattern">
              </div>
              <div class="mess-err" email *ngIf="form.controls['So_dien_thoai'].invalid && (form.controls['So_dien_thoai'].dirty || form.controls['So_dien_thoai'].touched)">
                <small class="err text-danger"  *ngIf="form.controls['So_dien_thoai'].errors.pattern"> Số điện thoại chưa hợp lệ!</small>
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Giới tính</label>
              </div>
              <div class="col-sm-8">
                <select class="form-control form-control-sm border-non setwidth" id="Gioi_tinh"
                  [(ngModel)]="nhanvien.Gioi_tinh" name="Gioi_tinh" formControlName="Gioi_tinh">
                  <option class="item" disabled value="">-- Giới tính --</option>
                  <option class="item" value="Nam">Nam</option>
                  <option class="item" value="Nữ">Nữ</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">CMND/CCCD</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control is-invalid" id="CMND_CCCD" [(ngModel)]="nhanvien.CMND_CCCD"
                  name="CMND_CCCD" placeholder="CMND/CCCD" formControlName="CMND_CCCD" [pattern]="CMND_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['CMND_CCCD'].invalid && (form.controls['CMND_CCCD'].dirty || form.controls['CMND_CCCD'].touched)">
                <small class="err text-danger" *ngIf="form.controls['CMND_CCCD'].errors.pattern"> Độ dài số chứng minh nhân dân/căn cước
                  công dân có 9 hoặc 12 số!</small>
              </div>
            </div>

            <div class=" form-group row">
              <div class="col-sm-12">
                <label>Địa chỉ</label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Thành phố</label>
              </div>
              <div class="col-sm-8">
                <select id="provinces" [(ngModel)]="nhanvien.Dia_chi.Tinh_ThanhPho" name="provinces"
                  class="form-control form-control-sm border-non setwidth " (change)="ThanhPho($event, null)"
                  formControlName="provinces">
                  <option class="item" selected disabled value="">-- Thành phố --</option>
                  <option class="item" *ngFor="let eachThanhPho of thanhphos" [value]="eachThanhPho.name">
                    {{eachThanhPho.name}}</option>
                </select>
            
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Quận huyện</label>
              </div>
              <div class="col-sm-8">
                <select id="districts" [(ngModel)]="nhanvien.Dia_chi.Huyen_Quan" name="districts"
                  class="form-control form-control-sm border-non setwidth mt-3" (change)="QuanHuyen($event)"
                  formControlName="districts">
                  <option class="item" selected value="">-- Huyện/Quận --</option>
                  <option class="item" *ngFor="let eachQuanHuyen of quanhuyens" [value]="eachQuanHuyen.name">
                    {{eachQuanHuyen.name}}</option>
                </select>
              </div>
            </div>
          

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Xã Phường</label>
              </div>
              <div class="col-sm-8">
                <select id="ward" [(ngModel)]="nhanvien.Dia_chi.Xa_Phuong" name="ward"
                  class="form-control form-control-sm border-non setwidth mt-3" formControlName="ward">
                  <option class="item" selected value="">-- Xã/Phường --</option>
                  <option class="item" *ngFor="let eachXaPhuong of xaphuongs" [value]="eachXaPhuong.name">
                    {{eachXaPhuong.name}}</option>
                </select>
              </div>
           
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quyền:</label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="form-check col-sm-6">
                    <input type="radio" checked name="QuyenSuDung" id="QuyenNhanVien" value="Nhân viên"
                      (click)="QuyenSuDung='Nhân viên'" [(ngModel)]="nhanvien.Quyen_su_dung" formControlName="QuyenSuDung">
                    <label class="form-check-label" for="exampleRadios1">
                      Nhân viên
                    </label>
                  </div>
                  <div class="form-check col-sm-6">
                    <input type="radio" name="QuyenSuDung" id="QuyenQuanLy" value="Quản lý"
                      (click)="QuyenSuDung='Quản lý'" [(ngModel)]="nhanvien.Quyen_su_dung" formControlName="QuyenSuDung">
                    <label class="form-check-label" for="exampleRadios2">
                      Quản lý
                    </label>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="!form.valid" (click)="ThemNhanVien()">Lưu tài
        khoản</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog cập nhật tài khoản -->
<div class="container" id="modals_update">
  <ng-template #content_update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-update">CẬP NHẬT TÀI KHOẢN NHÂN VIÊN</h4>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" [formGroup]="form">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require"> Tài khoản</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="Ten_dang_nhap" [(ngModel)]="nhanvien.Nhan_vien_id"
                  name="Ten_dang_nhap" placeholder="Tên đăng nhập" formControlName="Ten_dang_nhap" [pattern]="Ten_dang_nhap_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['Ten_dang_nhap'].invalid && (form.controls['Ten_dang_nhap'].dirty || form.controls['Ten_dang_nhap'].touched)">
            
                <small class="err text-danger" *ngIf="form.controls['Ten_dang_nhap'].errors.pattern"> Tài khoản không có dấu. Độ
                  dài từ 8 đến 32 ký tự! </small>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require"> Họ và tên</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="Ho_ten" [(ngModel)]="nhanvien.Ho_ten" name="Ho_ten"
                  placeholder="Họ và tên" formControlName="Ho_ten">
              </div>
            
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Ngày sinh</label>
              </div>
              <div class="col-sm-8">
                <input type="date" class="form-control " id="NgaySinh" [(ngModel)]="nhanvien.Ngay_sinh" name="NgaySinh"
                  placeholder="Ngày sinh" (change)="KiemTraNgaySinh(nhanvien.Ngay_sinh)" formControlName="Ngay_sinh">
              </div>
              <div class="mess-err">
                <small id="errNgaySinh2" class="err text-danger"> Ngày sinh chưa hợp lệ! </small>
                <small id="errNgaySinh3" class="err text-danger"> Chỉ được đăng ký tài khoản khi đủ 18 tuổi trở lên! </small>

              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Địa chỉ Email</label>
              </div>
              <div class="col-sm-8">
                <input type="email" id="email" class="form-control" formControlName="email" [(ngModel)]="nhanvien.Email"
                  name="email" placeholder="Địa chỉ Email" [pattern]="email_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)">
                <small class="err text-danger"  *ngIf="form.controls['email'].errors.pattern"> Chưa đúng định dạng Email! </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Số điện thoại</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control " id="So_dien_thoai" [(ngModel)]="nhanvien.So_dien_thoai"
                  name="So_dien_thoai" placeholder=" Số điện thoại" formControlName="So_dien_thoai" [pattern]="So_dien_thoai_pattern">
              </div>
              <div class="mess-err" email *ngIf="form.controls['So_dien_thoai'].invalid && (form.controls['So_dien_thoai'].dirty || form.controls['So_dien_thoai'].touched)">
                <small class="err text-danger"  *ngIf="form.controls['So_dien_thoai'].errors.pattern"> Số điện thoại chưa hợp lệ!</small>
              </div>
            </div>



            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Giới tính</label>
              </div>
              <div class="col-sm-8">
                <select class="form-control form-control-sm border-non setwidth" id="Gioi_tinh"
                  [(ngModel)]="nhanvien.Gioi_tinh" name="Gioi_tinh" formControlName="Gioi_tinh">
                  <option class="item" disabled value="">-- Giới tính --</option>
                  <option class="item" value="Nam">Nam</option>
                  <option class="item" value="Nữ">Nữ</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">CMND/CCCD</label>
              </div>
              <div class="col-sm-8">
                <input type="text" class="form-control is-invalid" id="CMND_CCCD" [(ngModel)]="nhanvien.CMND_CCCD"
                  name="CMND_CCCD" placeholder="CMND/CCCD" formControlName="CMND_CCCD" [pattern]="CMND_pattern">
              </div>
              <div class="mess-err" *ngIf="form.controls['CMND_CCCD'].invalid && (form.controls['CMND_CCCD'].dirty || form.controls['CMND_CCCD'].touched)">
                <small class="err text-danger" *ngIf="form.controls['CMND_CCCD'].errors.pattern"> Độ dài số chứng minh nhân dân/căn cước
                  công dân có 9 hoặc 12 số!</small>
              </div>
            </div>

            <div class=" form-group row">
              <div class="col-sm-12">
                <label>Địa chỉ</label>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Thành phố</label>
              </div>
              <div class="col-sm-8">
                <select id="provinces" [(ngModel)]="nhanvien.Dia_chi.Tinh_ThanhPho" name="provinces"
                  class="form-control form-control-sm border-non setwidth " (change)="ThanhPho($event, null)"
                  formControlName="provinces">
                  <option class="item" selected disabled value="">-- Thành phố --</option>
                  <option class="item" *ngFor="let eachThanhPho of thanhphos" [value]="eachThanhPho.name">
                    {{eachThanhPho.name}}</option>
                </select>
            
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Quận huyện</label>
              </div>
              <div class="col-sm-8">
                <select id="districts" [(ngModel)]="nhanvien.Dia_chi.Huyen_Quan" name="districts"
                  class="form-control form-control-sm border-non setwidth mt-3" (change)="QuanHuyen($event)"
                  formControlName="districts">
                  <option class="item" selected value="">-- Huyện/Quận --</option>
                  <option class="item" *ngFor="let eachQuanHuyen of quanhuyens" [value]="eachQuanHuyen.name">
                    {{eachQuanHuyen.name}}</option>
                </select>
              </div>
            </div>
          

            <div class="form-group row">
              <div class="col-sm-4">
                <label class="require">Xã Phường</label>
              </div>
              <div class="col-sm-8">
                <select id="ward" [(ngModel)]="nhanvien.Dia_chi.Xa_Phuong" name="ward"
                  class="form-control form-control-sm border-non setwidth mt-3" formControlName="ward">
                  <option class="item" selected value="">-- Xã/Phường --</option>
                  <option class="item" *ngFor="let eachXaPhuong of xaphuongs" [value]="eachXaPhuong.name">
                    {{eachXaPhuong.name}}</option>
                </select>
              </div>
           
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quyền:</label>
              <div class="col-sm-8">
                <div class="row">
                  <div class="form-check col-sm-6">
                    <input type="radio" checked name="QuyenSuDung" id="QuyenNhanVien" value="Nhân viên"
                      (click)="QuyenSuDung='Nhân viên'" [(ngModel)]="nhanvien.Quyen_su_dung" formControlName="QuyenSuDung">
                    <label class="form-check-label" for="exampleRadios1">
                      Nhân viên
                    </label>
                  </div>
                  <div class="form-check col-sm-6">
                    <input type="radio" name="QuyenSuDung" id="QuyenQuanLy" value="Quản lý"
                      (click)="QuyenSuDung='Quản lý'" [(ngModel)]="nhanvien.Quyen_su_dung" formControlName="QuyenSuDung">
                    <label class="form-check-label" for="exampleRadios2">
                      Quản lý
                    </label>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" [disabled]="!form.valid"  (click)="CapNhatNhanVien()"
       >Cập nhật tài khoản</button>
      <button type="button" class="btn btn-secondary" (click)="DongModal()">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog xác nhận xóa tài khoản -->
<div class="container" id="modals_delete">
  <ng-template #content_delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-notification">XÁC NHẬN</h4>
    </div>
    <div class="modal-body">
      <h6>Bạn có thật sự muốn xóa tài khoản nhân viên này không?</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="XacNhan()"
        ng-disabled="!form.$dirty || (form.$dirty && form.$invalid)">Xóa</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog viết Email -->
<div class="container" id="modals_mails">
  <ng-template #content_mails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-mails">SOẠN MAIL</h4>
    </div>
    <div class="modal-body">
      <form #staffFormSendMail="ngForm" name="GuiMailNhanVien">

        <div class="row">
          <div class="col-sm-4">
            <div class="row plus">
              <button class="them_mail" (click)="open_info_mail_plus(content_info_mail_plus)">
                <i class="fas fa-plus">
                  Thêm người nhận
                </i>
              </button>
            </div>
            <div class="row mt-4">
              <label class="col-sm-12 col-form-label ">Người nhận:</label>
            </div>
            <div class="form-group row ">

              <div class="col-sm-12 nguoinhan ml-2 form-control">
                <span class="To  " *ngFor="let eachNV of dsNguoiNhanMail; let i = index">
                  <input disabled class="emails" type="text" value={{eachNV.Email}}>
                  <sup>
                    <button class="iconbutton controlcheckbox" (click)="xoa_email(eachNV)">
                      <i class="fas fa-times"></i>
                    </button>
                  </sup>
                </span>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-12 col-form-label">Chủ đề:</label>
            </div>
            <div class="form-group row">

              <div class="col-sm-12 p-0 ml-2">
                <input type="text" [class.is-invalid]="Chu_de.invalid && Chu_de.touched" #Chu_de="ngModel"
                  class="form-control " id="chu_de" [(ngModel)]="chu_de" name="chu_de" required>
              </div>
              <div class="mess-err" *ngIf="Chu_de.errors && (Chu_de.invalid || Chu_de.touched)">
                <small class="err text-danger" *ngIf="Chu_de.errors.required">Không có chủ đề! </small>
              </div>

            </div>
          </div>
          <div class="col-sm-8">
            <div class="form-group row">
              <label class="col-sm-12 col-form-label">Nội dung:</label>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <ckeditor [(ngModel)]="noi_dung" name="noi_dung" [config]="{
                    extraPlugins: 'uploadimage',
                    filebrowserBrowseUrl : '/browser/browse/type/all',
                    filebrowserUploadUrl : '/browser/upload/type/all',
                    filebrowserImageBrowseUrl : '/browser/browse/type/image',
                filebrowserImageUploadUrl : '/browser/upload/type/image',
                    filebrowserWindowWidth  : 800,
                    filebrowserWindowHeight : 500
                  }"></ckeditor>
              </div>
            </div>
          </div>
        </div>





      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="GuiMail()">Gửi</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog thêm địa chỉ email và tên người nhận -->
<div class="container" id="modals_mails">
  <ng-template #content_info_mail_plus let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-info-mail-plus">THÔNG TIN NGƯỜI NHẬN</h4>
    </div>
    <div class="modal-body">
      <form #staffFormInfoEmailPlus="ngForm" name="InfoMailPlus">


        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Tài khoản email:</label>
          <div class="col-sm-8">
            <input type="text" [class.is-invalid]="Tai_khoan.invalid && Tai_khoan.touched" #Tai_khoan="ngModel"
              pattern="^([a-z0-9_\.\+-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$" class="form-control " id="tai_khoan"
              [(ngModel)]="tai_khoan" name="tai_khoan" required>
          </div>
          <div class="mess-err" *ngIf="Tai_khoan.errors && (Tai_khoan.invalid || Tai_khoan.touched)">
            <small class="err text-danger" *ngIf="Tai_khoan.errors.required">Bạn chưa nhập tài khoản! </small>
            <small class="err text-danger" *ngIf="Tai_khoan.errors.pattern">Chưa đúng định dạng Email! </small>
          </div>

        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Tên chủ tài khoản:</label>
          <div class="col-sm-8">
            <input type="text" [class.is-invalid]="Chu_tai_khoan.invalid && Chu_tai_khoan.touched"
              #Chu_tai_khoan="ngModel" class="form-control " id="chu_tai_khoan" [(ngModel)]="chu_tai_khoan"
              name="chu_tai_khoan" required>
          </div>
          <div class="mess-err" *ngIf="Chu_tai_khoan.errors && (Chu_tai_khoan.invalid || Chu_tai_khoan.touched)">
            <small class="err text-danger" *ngIf="Chu_tai_khoan.errors.required">Bạn chưa nhập tên chủ tài khoản!
            </small>
          </div>

        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="ThemMail(content_mails)">Thêm</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>
