<div class="main">
  <div class="khoangcach"></div>
  <div class="container pt-1 order_tracking">
    <div class="row d-flex justify-content-center">
      <h5 class="m-2">CẬP NHẬT ĐƠN HÀNG</h5>
    </div>
    <div class="row pl-4 pr-4 divphieudat" *ngFor="let eachPhieuDat of dsphieudat">
      <button id="phieudat" class="mt-3">

           <div class="row">
             <div class="col-sm-2">
               ab
             </div>
             <div class="col-sm-10">
              <div class="row">
                {{eachPhieuDat.Trang_thai}}
              </div>
             <div class="row mt-1">
              {{eachPhieuDat.Ho_ten}}
             </div>
             </div>
           </div>

      </button>



    </div>
  </div>

</div>
