.main{
  background-color: whitesmoke;
}

.order_tracking{
  background-color: white;
}

.khoangcach{
  height: 50px;
}

#phieudat{
  border: none;
  width: -webkit-fill-available;
  border: 2px solid whitesmoke;
  background-color: transparent;
}

#divphieudat{
  width: max-content;

}
