.main{
  width:100%;
  height:100%;
  background-color: whitesmoke;
}

.order_tracking{
  background-color: white;
}

.khoangcach{
  height: 50px;
}

#phieudat{
  border: none;
  width: -webkit-fill-available;
  border: 2px solid whitesmoke;
  background-color: transparent;
}

#divphieudat{
  width: max-content;
}

.avatar{
  vertical-align: middle;
  width: 139px;
  height: 100px;
}

.status{
  font-weight: bold;
}

:host nb-tab {
  padding: 1.25rem;
}

#danhgia{
  border: none;
  background-color: white;
  height: 25px;
  color: darkcyan;
}

#phieudat:focus{
  outline: none;
}
