  <!-- row giới thiệu -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <img src="../../../assets//images/gt.jpg" class="img-fluid" alt="Responsive image">
      </div>
      <div class="col-6 ">
        <p class="title-gt">Giới thiệu</p>
        <hr class="p-hr">
        <p class="title">Green Life</p>
        <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp;
          Green Life không chỉ mang lại cho bạn một không gian sống trong lành mà còn sang trọng với những loài cây đẹp
          mắt với giá trị phong thủy cao. </p>
        <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Có Green Life bạn không cần phải đau đầu trong việc lựa chọn sản phẩm
          trang trí cho cảnh quan của mình.</p>
        <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Với dịch vụ chăm sóc khách hàng trực tuyến hiện đại và gần gũi. Green
          Life chắc chắn sẽ tạo cho bạn cảm giác
          thoải mái và tin tưởng khi sử dụng dịch vụ của Green Life. </p>
        <div class="wapper col-sm-12">
          <button name="button" type="button">Xem thêm</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Row khuyến mãi -->
  <div class="row col-wrap">
    <div class="col-12">
      <p class="title-khuyenmai">HOT</p>
      <hr class="p-hr">
      <p class="title">Khuyến mãi</p>
    </div>
  </div>
  <div class="row d-flex justify-content-center">

    <div class="carousel spkhuyenmai" *ngIf="danhmuckhuyenmais.length > 0">
      <carousel [height]="300">
        <div class="carousel-cell" *ngFor="let eachDanhMuc of danhmuckhuyenmais">
          <div style="height: 180px;">
            <img src="{{eachDanhMuc.Hinh_anh}}" class="sale" (click)="ProductDetail(eachDanhMuc)">
          </div>
          <div class="_1jPz8l" *ngIf="KiemTraKhuyeMai(eachDanhMuc)">
            <div class="_3iRehQ _36vTKx _2xY8te shopee-badge">
              <div class="_2TDZGE">
                <span class="percent">{{giatrikhuyenmai*100}}%</span>
                <span class="_17XqBU">GIẢM</span>
              </div>
            </div>
          </div>
          <div class="card-body ">
            <h6 class="card-title ">{{eachDanhMuc.Ten_san_pham }}</h6>
            <div class="d-flex justify-content-center mt-2">
              <p class="giasale">{{eachDanhMuc.Gia - eachDanhMuc.Gia*giatrikhuyenmai | currency: "VND"}}</p>
            </div>
          </div>

        </div>
      </carousel>
    </div>
  </div>

  <!-- Sản phẩm bán chạy -->
  <div class="container">
    <div class="row col-wrap">
      <div class="col-12">
        <p class="title-khuyenmai">HOT</p>
        <hr class="p-hr">
        <p class="title">Sản phẩm bán chạy</p>
      </div>
    </div>
    <div class="carousel sanphambanchay" *ngIf="sanphambanchays.length > 0">
      <carousel [height]="300">
        <div class="carousel-cell" *ngFor="let eachSP of sanphambanchays">
          <div style="height: 180px;">
            <img src="{{eachSP.Hinh_anh}}" class="sale" (click)="ProductDetail(eachSP)">
          </div>
          <div class="_1jPz8l" *ngIf="KiemTraKhuyeMai(eachSP)">
            <div class="_3iRehQ _36vTKx _2xY8te shopee-badge">
              <div class="_2TDZGE">
                <span class="percent">{{giatrikhuyenmai*100}}%</span>
                <span class="_17XqBU">GIẢM</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <h6 class="card-title ">{{eachSP.Ten_san_pham }}</h6>
            <div class="d-flex justify-content-center mt-2">
              <p class="giasale">{{eachSP.Gia - eachSP.Gia*giatrikhuyenmai | currency: "VND"}}</p>
            </div>
          </div>

        </div>
      </carousel>
    </div>


    <!-- Row sản phẩm -->
    <div class="row">
      <div class="col-12">
        <p class="title-gt">Giới thiệu</p>
        <hr class="p-hr">
        <p class="title">Sản phẩm</p>
      </div>
    </div>
  </div>

  <!-- Các loại cây -->
  <div class="container " *ngFor="let eachLoaiCay of loaicays; let i = index">
    <div class="container" *ngIf="KiemTraChanLe(i)">
      <div class="row">
        <button (click)="DSSanPham(eachLoaiCay._id)" class="title-gt textcase">{{eachLoaiCay?.Ten_loai_cay}}</button>
      </div>

      <div class="row ">
        <div class="col-6">
          <div class="row">
            <div class="col-sm-6 mt-4" *ngFor="let eachSP of arrsanphamtrangchu[i]; let j = index">
              <a (click)="ProductDetailSP(eachSP)">
                <div class="card d-flex justify-content-center goiy">
                  <img class="card-img-top" src="{{eachSP?.Hinh_anh}}" alt="Card image cap">
                  <div class="card-body">
                    <h6 id="Ten_san_pham" class="card-title">{{eachSP?.Ten_san_pham }}</h6>
                    <div class="container">
                      <div class="row" *ngIf="KiemTraKhuyeMai(eachSP)">
                        <small class="card-text khuyenmai">{{eachSP?.Gia | currency: "VND"}}</small>
                        &nbsp;
                        <small class="cart-text sale"> -{{giatrikhuyenmai*100}}%</small>
                      </div>
                      <div class="row rong" *ngIf="!KiemTraKhuyeMai(eachSP)">
                        <small class="card-text khuyenmai"></small>
                        &nbsp;
                        <small class="cart-text"></small>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 p-0">
                          <p class="card-text">{{eachSP?.Gia - eachSP?.Gia*giatrikhuyenmai | currency: "VND"}}</p>
                        </div>
                        <div class="col-sm-6  p-0">
                          <p class="card-text daban" *ngIf="SoLuongBan(eachSP, j)"> Đã bán {{arrSoLuongBan}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-6 d-flex justify-content-center align-items-center">
         <div class="container ">
          <img class="image" src="{{eachLoaiCay?.Hinh_anh}}">
         </div>
        </div>
      </div>
    </div>

    <div class="container mt-5" *ngIf="!KiemTraChanLe(i)">
      <div class="row">
        <button (click)="DSSanPham(eachLoaiCay._id)" class="subtitle textcase">{{eachLoaiCay?.Ten_loai_cay}}</button>
      </div>
      <div class="row">
        <div class="col-6  d-flex justify-content-center align-items-center">
         <div class="container">
          <img class="image" src="{{eachLoaiCay?.Hinh_anh}}">
         </div>
        </div>
        <div class="col-6">
          <div class="row ">
            <div class="col-sm-6 mt-4" *ngFor="let eachSP of arrsanphamtrangchu[i]; let j = index">
              <a (click)="ProductDetailSP(eachSP)">
                <div class="card d-flex justify-content-center goiy">
                  <img class="card-img-top" src="{{eachSP?.Hinh_anh}}" alt="Card image cap">
                  <div class="card-body">
                    <h6 id="Ten_san_pham" class="card-title">{{eachSP?.Ten_san_pham }}</h6>
                    <div class="container">
                      <div class="row" *ngIf="KiemTraKhuyeMai(eachSP)">
                        <small class="card-text khuyenmai">{{eachSP?.Gia | currency: "VND"}}</small>
                        &nbsp;
                        <small class="cart-text sale"> -{{giatrikhuyenmai*100}}%</small>
                      </div>
                      <div class="row rong" *ngIf="!KiemTraKhuyeMai(eachSP)">
                        <small class="card-text "></small>
                        &nbsp;
                        <small class="cart-text "></small>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 p-0">
                          <p class="card-text">{{eachSP?.Gia - eachSP?.Gia*giatrikhuyenmai | currency: "VND"}}</p>
                        </div>
                        <div class="col-sm-6  p-0">
                          <p class="card-text daban" *ngIf="SoLuongBan(eachSP, j)"> Đã bán {{arrSoLuongBan}}</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Phân trang -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-12 d-flex justify-content-center align-items-center">
        <ul id="pagination">
          <li *ngFor="let item of dsloaicay | paginate: { itemsPerPage: 4, currentPage: p }"> </li>
        </ul>

        <pagination-controls (pageChange)="p = $event" (click)="ChuyenTrang(p)"></pagination-controls>
      </div>
    </div>
  </div>

  <!-- Row gợi ý -->
  <div class="row">
    <div class="col-12">
      <p class="title-gt"></p>
      <p class="title-goiy">Dành cho bạn!</p>
    </div>
  </div>

  <div class="row">
    <div class="col goiy">
      <img class="image" src="../../../assets/images/gt4.jpg">
    </div>
    <div class="col goiy goiy">
      Gợi ý 2
    </div>
    <div class="col goiy goiy">
      Gợi ý 3
    </div>
    <div class="col goiy goiy">
      Gợi ý 4
    </div>
    <div class="col goiy goiy">
      Gợi ý 5
    </div>
  </div>
