<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anonystick - example speech to text javasctipt</title>
</head>
<body>
        <div class="form-group">
            <textarea id="textbox" rows="6"  class="form-controller"></textarea>
        </div>
        <div class="form-group">
            <button id="start-btn" class=" btn btn-danger btn-block" (click)="Start()"> Start</button>
        </div>
        <p id="intrucstion">Press the start button</p>
</body>
</html>
