.form-gap {
  padding-top: 30px;
}

.anh_nen{
  padding: 0px;
}

.title{
  padding-left: 0px;
  font-family: "Brush Script MT";
}

.intro{
margin-bottom: 2%;
}

img {
  float: right;
  display: block;
  max-width:200px;
  max-height:65px;
  width: auto;
  height: auto;
}

.an{
  display: none;
}

#err_addressmail{
  display: none;
}

#enable-2fa{
  background-color: cornflowerblue;
}

.panel{
width: fit-content;
}

.text-center{
  width: 400px !important;
}
#err_secretkey{
  display: none;
}

.buttonicon{
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: auto;
}

#err_mat_khau_moi{
  display: none;
}

#err_xac_nhan_mat_khau{
  display: none;
}

#err_khong_trung_mat_khau_cu{
  display: none;
}

#err_khong_trung_mat_khau_moi{
  display: none;
}

.matkhaumoi{
  width: auto;
}

.fa-eye{
  display: none;
}

.iconkey{
margin: auto;
padding: 0px;
}

.input-group.row{
margin: 0px;
}

.eye-icon{
  padding-left: 0px;
}
#err_khong_trung_mat_khau_moi{
  display: none;
}

#resendkey{
  font-size: 13px;
  background-color: transparent;
  margin-top: 2%;
  border: none;
  font-style: italic;
}
