<div class="J_LiftNav hp-pc-lift-nav container" data-spm="side_nav" style="visibility: visible; display: block;">
    <div class="hp-pc-lift-nav-text">
        <a routerLink="/login"  style="color: #000000">
            <!-- <img src="https://img.icons8.com/windows/24/000000/user-group-man-man.png" /> -->
            <i class="fa fa-sign-in" aria-hidden="true"></i>

        </a>
        <div class="hovered-text">Đăng nhập</div>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a routerLink="/posts" style="color: #000000">
            <!-- <img src="https://img.icons8.com/ios/24/000000/shopping-cart.png" /> -->
            <i class="fa fa-shopping-cart " aria-hidden="true"></i>

        </a>
        <div class="hovered-text">Giỏ hàng</div>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a href="#"  style="color: #000000">
            <!-- <img src="https://img.icons8.com/wired/25/000000/track-order.png" /> -->
            <i class="fa fa-map-marker " aria-hidden="true"></i>

        </a>
        <div class="hovered-text">Theo dõi đơn hàng</div>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a href="#"  style="color: #000000">
            <!-- <img src="https://img.icons8.com/fluent-systems-regular/20/000000/appointment-reminders.png" /> -->
            <i class="fa fa-bell " aria-hidden="true"></i>
        </a>
        <div class="hovered-text">Thông báo</div>
    </div>


</div>
