<div class="J_LiftNav hp-pc-lift-nav container" data-spm="side_nav" style="visibility: visible; display: block;">
    <div class="hp-pc-lift-nav-text">
        <a routerLink="/login"  style="color: #000000">
            <i class="fa fa-sign-in" aria-hidden="true"></i>
        </a>
        <div class="hovered-text">Đăng nhập</div>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a routerLink="/cart" style="color: #000000">
            <i class="fa fa-shopping-cart " aria-hidden="true"></i>
        </a>
        <div class="hovered-text">Giỏ hàng</div>
        <sup *ngIf="SoLuongSanPham()">
          <span class="badge badge-pill bg-danger">{{lengthdssanpham}}</span>
        </sup>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a routerLink="/customerinfo"  style="color: #000000">
            <i class="fa fa-map-marker " aria-hidden="true"></i>
        </a>
        <div class="hovered-text">Theo dõi đơn hàng</div>
    </div>

    <div class="hp-pc-lift-nav-text">
        <a href="#"  style="color: #000000">
            <i class="fa fa-bell " aria-hidden="true"></i>
        </a>
        <div class="hovered-text">Thông báo</div>
    </div>


</div>
