.tong_phieu_dat{
  margin: 5px 0px 0px 0px;
}

.form-control{
  width: 100%;
  border: 2px solid #BDBDBD;
  height: 100%;
  }

  .search{
    width: 70%!important;
  }

  .navbar{
  background-color: transparent;
  }

  .nav-link{
    text-decoration: none;
  font-weight: bold;
  color: black !important;
  }

  .navbar-toggler-icon{
  background-color: black;
  }

  .dropdown{
    position: relative;
    display: inline-block;
  }

  .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f5f5f5;
    z-index: 1;
    list-style: none;
  }

  a{
    color:black;
    text-decoration: none;
  }

  .navbar-nav .dropdown-menu{
    background-color: white;
    margin-top: 5%;
  }


  span{
    margin-left: 1%;
    margin-right: 2%;
    // font-family: "Brush Script MT";
  }


  .dropdown:hover .dropdown-menu  {
    display: block;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  button{
    background-color: darkcyan;
    font-weight: bold;
  }


  .nav-item{
    border: 2px solid #BDBDBD;
    border-radius: 10%;
    margin-right: 2%;
  }

  .mr-2{
    color: #696969;
  }

  .action{
    display: flex;

  }

  .content{
   text-align: center;
  }

  .container{
    padding: 0px;
  }
  .card-body{
    padding: 0px;
  }

  .border-non{
    border-radius: 0px;
  }

  h5{
    font-weight: bold;
    margin: 0px;
  }

  .form-control-sm{
    border: 1px solid #BDBDBD;
  }



  .setwidth{
    width: 100% !important;
  }

  .button{
    display: none;
  }

  .buttonicon{
    background-color: transparent;
    border: none;
    padding: 0px;
  }

  .err{
    padding-left: 3%;
  }

  .mess-err{
    width: 100%;
  }

  .them_hoa_don{
    border: none;
    background-color: transparent;
    margin-left: 65%;
  }

  .ds{
    height: 573px;
    overflow-x:auto;
    overflow-y:auto;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  .addsanpham{
    max-height: 245px;
    overflow-x:auto;
    overflow-y:auto;
  }

  .dssanpham{
    max-height: 200px;
    width: 500px;
    overflow-x:auto;
    overflow-y:auto;

  }

  .searchicon{
    background-color: transparent;
    border: none;
  }


  .searchbar{
    width: max-content;
    padding: 0px !important;
  }

  .searchselect{
    border: none;
    padding-left: 0px;
    margin-right: 5px
  }

.d-flex{
  border: none;
}

 .plus{
   margin: 0px;
 }



.titlesanpham{
  margin: 0px;
}

hr{
  margin-top: 5px;
  margin-bottom: 5px;
}

.plussanpham{
  border: 1px solid #BDBDBD;
  orientation: inherit;
  height: 100px;
  padding: 0px;
  overflow-x:auto;
  overflow-y:auto;

}

.them_san_pham{
  background-color: transparent;
  border: none;
}

.plus{
  margin: 0px;
}

.SanPham{
  position: inherit;
 }

 .iconbutton{
   background-color: transparent;
  margin-left: 1%;
  border: none;
}
.controlcheckbox{
  background-color: transparent;
  border: none;
}

span.SanPham{
  width: 90%;
  margin: 0px;
  margin-left: 2%;
  margin-top: 1%;
}

#errKhongDuSoLuong{
  display: none;
}

#errSoLuongMax{
  display: none;
}

#AnMa{
  display: none;
}

#errListSanPham{
  display: none;
}

#TrangThai{
  background-color: transparent;
  border: none;
}

#StatusSelect{
  border: none;
  padding: 0px;
}

.status{
  width: max-content;
}

.maphieudat{
  display: none;
}

#pagination {
  list-style: none;
  margin-left: 0;
  padding-left: 1em;
  text-indent: -1em;
}
.diachi{
  width: 200px;
}