<div class="container">

  <!-- Đỗ dữ liệu vào bảng -->
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card">
            <div class="card-header text-center font-weight-bold">
              <div class="row">
                <div class="col-sm-2 d-flex align-items-center">
                  <h4>PHIẾU ĐẶT</h4>
                </div>
                <div class="col-sm-10">
                  <mat-toolbar>
                    <mat-toolbar-row>
                      <div class="input-group rounded">
                        <input type="text" [(ngModel)]="keyword" (ngModelChange)="SearchByKeyWord()" name="keyword"
                          class="form-control search rounded" placeholder="Search" aria-label="Search"
                          aria-describedby="search-addon" />
                      </div>

                      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
                        <nav class="navbar navbar-expand-md navbar-light">
                          <div class="collapse navbar-collapse" id="basicExampleNav4">
                            <ul class="navbar-nav nav-flex-icons ml-auto">
                              <li class="nav-item dropdown notifications-nav pr-md-3 searchbar">
                                <select class="form-control form-control-sm border-non setwidth searchselect"
                                  (change)="SearchByOption($event)">
                                  <option class="item" selected disabled value="">Tìm kiếm</option>
                                  <option class="item" value="Mới nhất">Mới nhất</option>
                                  <option class="item" value="Cũ nhất">Cũ nhất</option>
                                </select>
                              </li>
                              <li>
                                <button type="button" class="btn them_khach_hang_button" (click)="open(content)"
                                  data-controls-modal="modals" data-backdrop="static" data-keyboard="false">
                                  + Thêm phiếu đặt
                                </button>
                              </li>
                            </ul>
                          </div>
                        </nav>
                      </div>
                    </mat-toolbar-row>
                  </mat-toolbar>
                </div>
              </div>
            </div>

            <div class="card-header pb-0">
              <div class="row">
                <div class="col-sm-3">
                  <button (click)="HienThiMa()" class="controlcheckbox" id="HienThiMa">
                    Hiển thị mã phiếu đặt
                  </button>
                  <button (click)="AnMa()" class="controlcheckbox" id="AnMa">
                    Ẩn mã phiếu đặt
                  </button>
                </div>
                <div class="col-sm-6 d-flex justify-content-center">
                  <!-- Phân trang -->
                  <ul id="pagination">
                    <li *ngFor="let item of phieudats | paginate: { itemsPerPage: 5, currentPage: p }"> </li>
                  </ul>

                  <pagination-controls (pageChange)="p = $event" (click)="ChuyenTrang(p)"></pagination-controls>
                </div>
                <div class="col-sm-3 d-flex justify-content-end">
                  <p class="tong_phieu_dat">Tổng số phiếu đặt: {{tongphieudat}}</p>
                </div>
              </div>
            </div>

            <div class="card-header button" id="divbutton">
              <button (click)="open_delete(content_delete, null)" class="controlcheckbox">
                <i class="fas fa-trash"></i>
              </button>
            </div>

            <div class="card ds">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="content">
                      <th class="align-middle">
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" value="{{checkAll}}" type="checkbox" [checked]="checkAll"
                            id="flexCheckDefault" (change)="KTCheckedAll()">
                          <!-- <p>{{checkAll}}</p> -->
                        </div>
                      </th>
                      <th class="align-middle">STT</th>
                      <th class="align-middle" *ngIf="hienthi">Mã phiếu đặt</th>
                      <th class="align-middle ">Thông tin sản phẩm</th>
                      <th class="align-middle">Khách hàng</th>
                      <th class="align-middle">Họ tên</th>
                      <th class="align-middle">Số điện thoại</th>
                      <th class="align-middle">Địa chỉ</th>
                      <th class="align-middle">Vận chuyển</th>
                      <th class="align-middle">Thanh toán</th>
                      <th class="align-middle">Tổng tiền</th>
                      <th class="align-middle">Ngày nhận</th>
                      <th class="align-middle">Ngày cập nhật</th>
                      <th class="align-middle">Trạng thái</th>
                      <th class="align-middle">Tác vụ</th>

                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eachPhieuDat of dsphieudat; let i = index;">
                      <td class="align-middle">
                        <div class="form-check d-flex justify-content-center">
                          <input class="form-check-input" [id]="i" type="checkbox" value="{{checked[i]}}"
                            [checked]="checked[i]" (change)="KTChecked(i)" name="itemcheck">
                        </div>
                      </td>
                      <td class="content">{{i + 1}}</td>
                      <td class="content" *ngIf="hienthi">{{eachPhieuDat._id}}</td>
                      <td class="content">

                        <div class="card dssanpham">
                          <div class="card-body">
                            <table class="table table-bordered table-hover">
                              <thead>
                                <tr class="content">
                                  <th class="align-middle">STT</th>
                                  <th class="align-middle">Sản phẩm</th>
                                  <th class="align-middle">Số lượng</th>
                                  <th class="align-middle">Giá bán</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let eachSanPham of thongtinsanpham[i]; let j = index">
                                  <td class="content">{{j + 1}}</td>
                                  <td class="content">{{eachSanPham?.Ten_san_pham}}</td>
                                  <td class="content" *ngIf="eachPhieuDat?.San_Pham[j] !== undefined">{{eachPhieuDat?.San_Pham[j].So_luong}}</td>
                                  <td class="content" *ngIf="eachPhieuDat?.San_Pham[j] !== undefined">{{eachPhieuDat?.San_Pham[j].Gia_ban | currency: "VND"}}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>

                      </td>
                      <td class="content">{{eachPhieuDat?.KhachHang_id}}</td>
                      <td class="content">{{eachPhieuDat?.Ho_ten}}</td>
                      <td class="content">{{eachPhieuDat?.So_dien_thoai}}</td>
                      <td class="content ">
                        <div class="diachi">
                          {{arrdiachi[i].Xa_Phuong}}, {{arrdiachi[i].Huyen_Quan}}, {{arrdiachi[i].Tinh_ThanhPho}}
                        </div>
                      </td>
                      <td class="content">{{thongtinvanchuyen[i]?.Ten_hinh_thuc}}</td>
                      <td class="content">{{thongtinthanhtoan[i]?.Ten_phuong_thuc}}</td>
                      <td class="content">{{eachPhieuDat?.Tong_tien | currency: "VND"}}</td>
                      <td class="content">{{eachPhieuDat?.Ngay_nhan | date:'dd/MM/yyyy'}}</td>
                      <td class="content">{{eachPhieuDat?.Ngay_cap_nhat | date:'dd/MM/yyyy'}}</td>
                      <td>
                        <div class="form-group d-flex align-items-center status">
                          <select class="form-control form-control-sm border-non setwidth" id="StatusSelect"
                            [ngStyle]="{'color':getColor(Trang_thai[i])}" [(ngModel)]="Trang_thai[i]" name="trang_thai"
                            #trang_thai="ngModel" (change)="DoiTrangThai(eachPhieuDat, i, content_change_status)">
                            <option class="item" value="Chưa duyệt" default>Chưa duyệt</option>
                            <option class="item" value="Đã duyệt">Đã duyệt</option>
                            <option class="item" value="Đang được đóng gói">Đang được đóng gói</option>
                            <option class="item" value="Xuất kho">Xuất kho</option>
                            <option class="item" value="Đang vận chuyển">Đang vận chuyển</option>
                            <option class="item" value="Đang giao hàng">Đang giao hàng</option>
                            <option class="item" value="Giao hàng thành công">Giao hàng thành công</option>
                            <option class="item" value="Đã hủy">Đã hủy</option>
                            <option class="item" value="Giao hàng thất bại">Giao hàng thất bại</option>
                          </select>
                        </div>
                      </td>
                      <td class="content ">
                        <span class="action">
                          <button class="buttonicon" (click)="open_update(content_update, eachPhieuDat, i)"
                            data-controls-modal="modals_update" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-edit m-1"></i>
                          </button>
                          <button class="buttonicon" (click)="open_delete(content_delete, eachPhieuDat._id)"
                            data-controls-modal="modals_delete" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-trash-alt m-1"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Dialog tạo -->
<div class="container" id="modals">
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">TẠO PHIẾU ĐẶT</h4>
    </div>
    <div class="modal-body">
      <form #shipFormCreate="ngForm">
        <div class="row">
          <div class="col-sm-6">
        
            <div class="form-group row">
              <div class="col-sm-12">
                <ng-multiselect-dropdown name="ngKhachHangSelect" [placeholder]="'--- ID khách hàng ---'"
                  [(ngModel)]="IDKhachHang" [settings]="dropdownSettingsKhachHang" [data]="dskhachhang" >
                </ng-multiselect-dropdown>
              </div>
              <div class="mess-err">
                <small id="errVanChuyen" class="err text-danger" *ngIf="IDKhachHang.length <= 0">Bạn chưa chọn khách hàng! </small>
              </div>
            </div>


            <div class="form-group row">
              <div class="col-sm-12">
                <ng-multiselect-dropdown name="ngShippingSelect" [placeholder]="'--- Vận chuyển ---'"
                  [(ngModel)]="vanchuyentmp" [settings]="dropdownSettingsVanChuyen" [data]="dshinhthucvanchuyen">
                </ng-multiselect-dropdown>
              </div>
              <div class="mess-err">
                <small id="errVanChuyen" class="err text-danger" *ngIf="vanchuyentmp.length <= 0">Bạn chưa chọn hình
                  thức vận chuyển! </small>
              </div>
            </div>

          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12">
                <ng-multiselect-dropdown name="ngPaymentSelect" [placeholder]="'--- Thanh toán ---'"
                  [(ngModel)]="thanhtoantmp" [settings]="dropdownSettingsThanhToan" [data]="dsphuongthucthanhtoan">
                </ng-multiselect-dropdown>
              </div>
              <div class="mess-err">
                <small id="errThanhToan" class="err text-danger" *ngIf="thanhtoantmp.length <= 0">Bạn chưa chọn phương
                  thức thanh toán! </small>
              </div>
            </div>
            <div class="form-group row" ngModelGroup="Dia_chi">

              <div class="col-sm-12">
                <select id="provinces" [(ngModel)]="phieudat.Dia_chi.Tinh_ThanhPho" #Tinh_ThanhPho="ngModel"
                  name="calc_shipping_provinces" class="form-control form-control-sm border-non setwidth "
                  (change)="ThanhPho($event, null)">
                  <option class="item" selected disabled value="">-- Thành phố --</option>
                  <option class="item" *ngFor="let eachThanhPho of thanhphos" [value]="eachThanhPho.name">
                    {{eachThanhPho.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_tinh_thanhpho" class="err text-danger" *ngIf="phieudat.Dia_chi.Tinh_ThanhPho === ''">
                    Bạn chưa chọn Tỉnh/Thành phố! </small>
                </div>

                <select id="districts" [(ngModel)]="phieudat.Dia_chi.Huyen_Quan" #Huyen_Quan="ngModel"
                  name="calc_shipping_district" class="form-control form-control-sm border-non setwidth mt-3"
                  (change)="QuanHuyen($event)">
                  <option class="item" selected value="">-- Huyện/Quận --</option>
                  <option class="item" *ngFor="let eachQuanHuyen of quanhuyens" [value]="eachQuanHuyen.name">
                    {{eachQuanHuyen.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_huyen_quan" class="err text-danger" *ngIf="phieudat.Dia_chi.Huyen_Quan === ''"> Bạn
                    chưa chọn Huyện/Quận! </small>
                </div>

                <select id="ward" [(ngModel)]="phieudat.Dia_chi.Xa_Phuong" #Xa_Phuong="ngModel"
                  name="calc_shipping_ward" class="form-control form-control-sm border-non setwidth mt-3"
                  >
                  <option class="item" selected value="">-- Xã/Phường --</option>
                  <option class="item" *ngFor="let eachXaPhuong of xaphuongs" [value]="eachXaPhuong.name">
                    {{eachXaPhuong.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_xa_phuong" class="errdiachi text-danger" *ngIf="phieudat.Dia_chi.Xa_Phuong === ''"> Bạn
                    chưa chọn Xã/Phường! </small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>Thông tin sản phẩm:</label>
          </div>
          <div class="col-sm-6 d-flex justify-content-end">
            <button class="them_hoa_don" (click)="open_product_plus(content_info_product_plus)">
              <i class="fas fa-plus">
                Thêm sản phẩm
              </i>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="card addsanpham">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="content">

                      <th class="align-middle">STT</th>
                      <th class="align-middle">Sản phẩm</th>
                      <th class="align-middle">Số lượng</th>
                      <th class="align-middle">Giá bán</th>
                      <th class="align-middle">Tác vụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eachSP of arrSanPhamReload; let i = index;">

                      <td class="content">{{i + 1}}</td>
                      <td class="content">{{eachSP.Ten_san_pham}}</td>
                      <td class="content">{{eachSP.So_luong}}</td>
                      <td class="content">{{eachSP.Gia}}</td>
                      <td class="content d-flex justify-content-center">
                        <span class="action">
                          <button class="buttonicon" (click)="open_product_update2(content_product_update2, eachSP, i)"
                            data-controls-modal="modals_update" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-edit m-1"></i>
                          </button>
                          <button class="buttonicon" (click)="XoaDSSanPham(content, eachSP._id, i, 'new')"
                            data-controls-modal="modals_delete" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-trash-alt m-1"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="mess-err">
            <small id="errListSanPham" class="err text-danger">Chưa có sản phầm nào trong phiếu đặt! </small>
          </div>
        </div>

      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="ThemPhieuDat()">Lưu</button>
        <button type="button" class="btn btn-secondary" (click)="DongModal()">Hủy</button>
      </div>
    </div>
  </ng-template>

</div>

<!-- Dialog cập nhật phiếu đặt -->
<div class="container" id="modals_update">
  <ng-template #content_update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-update">CẬP NHẬT THÔNG TIN</h4>
    </div>
    <div class="modal-body">
      <form #shipFormCreate="ngForm">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" [class.is-invalid]="Khach_hang.invalid && Khach_hang.touched" #Khach_hang="ngModel"
                  class="form-control " id="Khach_hang" [(ngModel)]="phieudat.Ho_ten" name="Khach_hang"
                  placeholder="Tên khách hàng" required>
              </div>
              <div class="mess-err" *ngIf="Khach_hang.errors && (Khach_hang.invalid || Khach_hang.touched)">
                <small class="err text-danger" *ngIf="Khach_hang.errors.required"> Tên khách hàng không được trống!
                </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <input type="text" [class.is-invalid]="So_dien_thoai.invalid && So_dien_thoai.touched"
                  #So_dien_thoai="ngModel" pattern="^0[0-9\s.-]{9}" class="form-control " id="So_dien_thoai"
                  [(ngModel)]="phieudat.So_dien_thoai" name="So_dien_thoai" placeholder="Số điện thoại" required>
              </div>
              <div class="mess-err" *ngIf="So_dien_thoai.errors && (So_dien_thoai.invalid || So_dien_thoai.touched)">
                <small class="err text-danger" *ngIf="So_dien_thoai.errors.required"> Số điện thoại không được trống!
                </small>
                <small class="err text-danger" *ngIf="So_dien_thoai.errors.pattern"> Số điện thoại chưa hợp lệ!</small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <ng-multiselect-dropdown name="ngShippingSelect" [placeholder]="'--- Vận chuyển ---'"
                  [(ngModel)]="vanchuyentmp" [settings]="dropdownSettingsVanChuyen" [data]="dshinhthucvanchuyen"
                  >
                </ng-multiselect-dropdown>
              </div>
              <div class="mess-err">
                <small id="errVanChuyen" class="err text-danger" *ngIf="vanchuyentmp.length <= 0">Bạn chưa chọn hình
                  thức vận chuyển! </small>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <ng-multiselect-dropdown name="ngPaymentSelect" [placeholder]="'--- Thanh toán ---'"
                  [(ngModel)]="thanhtoantmp" [settings]="dropdownSettingsThanhToan" [data]="dsphuongthucthanhtoan">
                </ng-multiselect-dropdown>
              </div>
              <div class="mess-err">
                <small id="errThanhToan" class="err text-danger" *ngIf="thanhtoantmp.length <= 0">Bạn chưa chọn phương
                  thức thanh toán! </small>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row" ngModelGroup="Dia_chi">
              <div class="col-sm-12">
                <select id="provinces" [(ngModel)]="phieudat.Dia_chi.Tinh_ThanhPho" #Tinh_ThanhPho="ngModel"
                  name="calc_shipping_provinces" class="form-control form-control-sm border-non setwidth"
                  (change)="ThanhPho($event, null)">
                  <option class="item" selected disabled value="">-- Thành phố --</option>
                  <option class="item" *ngFor="let eachThanhPho of thanhphos" [value]="eachThanhPho.name">
                    {{eachThanhPho.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_tinh_thanhpho" class="err text-danger" *ngIf="phieudat.Dia_chi.Tinh_ThanhPho === ''">
                    Bạn chưa chọn Tỉnh/Thành phố! </small>
                </div>

                <select id="districts" [(ngModel)]="phieudat.Dia_chi.Huyen_Quan" #Huyen_Quan="ngModel"
                  name="calc_shipping_district" class="form-control form-control-sm border-non setwidth mt-3"
                  (change)="QuanHuyen($event)">
                  <option class="item" selected value="">-- Huyện/Quận --</option>
                  <option class="item" *ngFor="let eachQuanHuyen of quanhuyens" [value]="eachQuanHuyen.name">
                    {{eachQuanHuyen.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_huyen_quan" class="err text-danger" *ngIf="phieudat.Dia_chi.Huyen_Quan === ''"> Bạn
                    chưa chọn Huyện/Quận! </small>
                </div>

                <select id="ward" [(ngModel)]="phieudat.Dia_chi.Xa_Phuong" #Xa_Phuong="ngModel"
                  name="calc_shipping_ward" class="form-control form-control-sm border-non setwidth mt-3"
                 >
                  <option class="item" selected value="">-- Xã/Phường --</option>
                  <option class="item" *ngFor="let eachXaPhuong of xaphuongs" [value]="eachXaPhuong.name">
                    {{eachXaPhuong.name}}</option>
                </select>
                <div class="mess-err">
                  <small id="mes_xa_phuong" class="errdiachi text-danger" *ngIf="phieudat.Dia_chi.Xa_Phuong === ''"> Bạn
                    chưa chọn Xã/Phường! </small>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-6">
            <label>Thông tin sản phẩm:</label>
          </div>
          <div class="col-sm-6 d-flex justify-content-end">
            <button class="them_hoa_don" (click)="open_list_product_update(content_info_product_update)">
              <i class="fas fa-plus">
                Thêm sản phẩm
              </i>
            </button>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12">
            <div class="card addsanpham">
              <div class="card-body">
                <table class="table table-bordered table-hover">
                  <thead>
                    <tr class="content">

                      <th class="align-middle">STT</th>
                      <th class="align-middle">Sản phẩm</th>
                      <th class="align-middle">Số lượng</th>
                      <th class="align-middle">Giá bán</th>
                      <th class="align-middle">Tác vụ</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let eachSP of arrSanPhamReload; let i = index;">

                      <td class="content">{{i + 1}}</td>
                      <td class="content">{{eachSP.Ten_san_pham}}</td>
                      <td class="content">{{eachSP.So_luong}}</td>
                      <td class="content">{{eachSP.Gia}}</td>
                      <td class="content d-flex justify-content-center">
                        <span class="action">
                          <button class="buttonicon" (click)="open_product_update(content_product_update, eachSP, i)"
                            data-controls-modal="modals_update" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-edit m-1"></i>
                          </button>
                          <button class="buttonicon" (click)="XoaDSSanPham(content, eachSP._id, i, 'new')"
                            data-controls-modal="modals_delete" data-backdrop="static" data-keyboard="false">
                            <i class="far fa-trash-alt m-1"></i>
                          </button>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="mess-err">
            <small id="errListSanPham" class="err text-danger">Chưa có sản phầm nào trong phiếu đặt! </small>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="CapNhat()">Cập nhật</button>
      <button type="button" class="btn btn-secondary" (click)="DongModal()">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog thêm sản phẩm vào lstsanpham-->
<div class="container" id="modals_category">
  <ng-template #content_info_product_plus let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-info-mail-plus">THÊM SẢN PHẨM</h4>
    </div>
    <div class="modal-body">
      <form #staffFormInfoEmailPlus="ngForm" name="InfoMailPlus">

        <div class="form-group row">
          <div class="col-sm-12">

            <ng-multiselect-dropdown name="ngDMNSelect" [placeholder]="'--- Tên sản phẩm ---'"
              [settings]="dropdownSettings" [(ngModel)]="sanphamtmp" [data]="dssanpham"
             >
            </ng-multiselect-dropdown>
          </div>
          <div class="mess-err">
            <small id="SanPham" class="err text-danger" *ngIf="this.sanphamtmp[0] === undefined">Bạn chưa chọn sản phẩm! </small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="number" #so_luong="ngModel" class="form-control " id="so_luong"
              [(ngModel)]="So_luong" name="so_luong" placeholder="--- Số lượng ---">
          </div>
          <div class="mess-err">
            <small id="errSoLuong" class="err text-danger" *ngIf="So_luong <= 0">Số lượng phải lớn hơn 0</small>
            <small id="errSoLuongMax" class="err text-danger">Không đủ số lượng sản phẩm trong kho</small>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="ThemSanPham(content)">Thêm</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog thêm sản phẩm vào lstsanpham khi cập nhật-->
<div class="container" id="modals_category">
  <ng-template #content_info_product_update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-info-mail-update">THÊM SẢN PHẨM </h4>
    </div>
    <div class="modal-body">
      <form #staffFormInfoEmailPlus="ngForm" name="InfoMailPlus">

        <div class="form-group row">
          <div class="col-sm-12">

            <ng-multiselect-dropdown name="ngDMNSelect" [placeholder]="'--- Tên sản phẩm ---'"
              [settings]="dropdownSettings" [(ngModel)]="sanphamtmp" [data]="dssanpham">
            </ng-multiselect-dropdown>
          </div>
          <div class="mess-err">
            <small id="SanPham" class="err text-danger" *ngIf="sanphamtmp.length <= 0">Bạn chưa chọn sản phẩm! </small>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="number" #so_luong="ngModel" class="form-control " id="so_luong"
              [(ngModel)]="So_luong" name="so_luong" placeholder="--- Số lượng ---">
          </div>
          <div class="mess-err">
            <small id="errSoLuong" class="err text-danger" *ngIf="So_luong <= 0">Số lượng phải lớn hơn 0</small>
            <small id="errSoLuongMax" class="err text-danger">Không đủ số lượng sản phẩm trong kho</small>
          </div>
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="CapNhatDSSanPham(content_update)">Thêm</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog chỉnh sửa sản phẩm trong lstsanpham khi cập nhật-->
<div class="container" id="modals_mails">
  <ng-template #content_product_update let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-product-update">CHỈNH SỬA SẢN PHẨM</h4>
    </div>
    <div class="modal-body">
      <form #staffFormInfoEmailPlus="ngForm" name="InfoMailPlus">

        <div class="form-group row">
          <div class="col-sm-12">
            <ng-multiselect-dropdown name="ngProductSelect" [placeholder]="'--- Sản phẩm ---'" [(ngModel)]="sanphamtmp"
              [settings]="dropdownSettings" [data]="dssanpham" (onSelect)="onItemSelect($event, 0)"
              (onSelectAll)="onSelectAll($event, 0)" (onDeSelect)="onItemDeSelect($event, 0)"
              (onDeSelectAll)="onDeSelectAll($event, 0)">
            </ng-multiselect-dropdown>
          </div>
          <div class="mess-err">
            <small id="errSanPham" class="err text-danger">Bạn chưa chọn sản phẩm! </small>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="number" #so_luong="ngModel" class="form-control " id="so_luong"
              [(ngModel)]="So_luong" name="so_luong" placeholder="--- Số lượng ---">
          </div>
          <div class="mess-err">
            <small id="errSoLuong" class="err text-danger">Số lượng phải lớn hơn 0</small>
            <small id="errKhongDuSoLuong" class="err text-danger">Số lượng sản phẩm trong kho không đủ</small>

          </div>

        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="ChinhSuaSanPham(content_update)">Cập nhật</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog chỉnh sửa sản phẩm trong lstsanpham khi thêm-->
<div class="container" id="modals_mails">
  <ng-template #content_product_update2 let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-product-update2">CHỈNH SỬA SẢN PHẨM</h4>
    </div>
    <div class="modal-body">
      <form #staffFormInfoEmailPlus="ngForm" name="InfoMailPlus">

        <div class="form-group row">
          <div class="col-sm-12">
            <ng-multiselect-dropdown name="ngProductSelect" [placeholder]="'--- Sản phẩm ---'" [(ngModel)]="sanphamtmp"
              [settings]="dropdownSettings" [data]="dssanpham" (onSelect)="onItemSelect($event, 0)"
              (onDeSelect)="onItemDeSelect($event, 0)">
            </ng-multiselect-dropdown>
          </div>
          <div class="mess-err">
            <small id="errSanPham" class="err text-danger">Bạn chưa chọn sản phẩm! </small>
          </div>

        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <input type="number" #so_luong="ngModel" class="form-control " id="so_luong"
              [(ngModel)]="So_luong" name="so_luong" placeholder="--- Số lượng ---">
          </div>
          <div class="mess-err">
            <small id="errSoLuong" class="err text-danger">Số lượng phải lớn hơn 0</small>
            <small id="errKhongDuSoLuong" class="err text-danger">Số lượng sản phẩm trong kho không đủ</small>

          </div>

        </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="CapNhatListSanPham(content)">Cập nhật</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>

</div>

<!-- Dialog xác nhận xóa -->
<div class="container" id="modals_delete">
  <ng-template #content_delete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title-notification">XÁC NHẬN</h4>
    </div>
    <div class="modal-body">
      <h6>Bạn có thật sự muốn xóa phiếu đặt này không?</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="XacNhan()">Xóa</button>
      <button type="button" class="btn btn-secondary" (click)="modal.close('Close')">Hủy</button>
    </div>
  </ng-template>
</div>

<!-- Dialog xác nhận  -->
<div class="container" id="modals_create_bill">
  <ng-template #content_change_status let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-change-status-title">XÁC NHẬN</h4>
    </div>
    <div class="modal-body">
      <h6>Bạn có muốn tạo hóa đơn không?</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="TaoHoaDonBan()">Tạo hóa đơn</button>
      <button type="button" class="btn btn-secondary" (click)="KhongTaoHoaDon()">Hủy</button>
    </div>
  </ng-template>
</div>
