<nb-card>
  <nb-card-body>

    <nb-tabset fullWidth>
      <nb-tab tabTitle="Hướng dẫn đặt hàng">

        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <br>
                <img class="image"
                  src="https://firebasestorage.googleapis.com/v0/b/managementimagesgreenlife.appspot.com/o/huong-dan-mua-hang.jpg?alt=media&token=8593f0fd-0097-488b-b85d-a1af60ed3b8a"
                  class="img-fluid" alt="Responsive image">
              </div>
              <div class="col-6 ">
                <p class="title-gt">Giới thiệu</p>
                <hr class="p-hr">
                <p class="title">Green Life</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp;
                  Green Life không chỉ mang lại cho bạn một không gian sống trong lành mà còn sang trọng với những loài
                  cây đẹp
                  mắt với giá trị phong thủy cao. </p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Có Green Life bạn không cần phải đau đầu trong việc lựa chọn sản
                  phẩm
                  trang trí cho cảnh quan của mình.</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Với dịch vụ chăm sóc khách hàng trực tuyến hiện đại và gần gũi.
                  Green
                  Life chắc chắn sẽ tạo cho bạn cảm giác
                  thoải mái và tin tưởng khi sử dụng dịch vụ của Green Life. </p>
                <div class="wapper d-flex justify-content-center col-sm-12">
                  <button name="button" type="button">Xem thêm</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="container">
              <h5>Bước 1: Tìm kiếm sản phẩm</h5>
              <p>Quý khách có thể tìm kiếm sản phẩm theo 1 trong 3 cách:</p>
              <ul>
                <li>Gõ tên sản phẩm vào thanh tìm kiếm. </li>
                <li>Tìm theo danh mục.</li>
                <li>Tìm theo các sản phẩm nổi bật hoặc bán chạy.</li>
              </ul>
              <h5>Bước 2: Thêm sản phẩm vào giỏ hàng</h5>
              <p>Khi đã tìm được sản phẩm mong muốn, quý khách vui lòng bấm vào hình hoặc tên của sản phẩm để vào trang
                thông tin chi tiết của sản phẩm, sau đó:</p>
              <ul>
                <li>Kiểm tra thông tin sản phẩm, giá cả, thông tin khuyến mãi. </li>
                <li>Chọn số lượng mong muốn.
                </li>
                <li>Thêm sản phẩm vào giỏ hàng.
                </li>
              </ul>
              <h5>Bước 3: Kiểm tra giỏ hàng và đặt hàng
              </h5>
              <p>Để đặt nhiều sản phẩm khác nhau vào cùng một đơn hàng, vui lòng thực hiện theo các bước sau:
              </p>
              <ul>
                <li>Click vào logo để quay lại trang chủ.
                </li>
                <li>Thêm sản phẩm vào giỏ hàng như ở Bước 2.
                </li>
                <li>Quá trình này có thể lặp lại đến khi quý khách hoàn tất việc bỏ tất cả sản phẩm vào giỏ hàng.
                </li>
                <li>Điều chỉnh số lượng và cập nhật giỏ hàng.
                </li>
                <li>Bấm “Thanh Toán” để bắt đầu đặt hàng.
                </li>
              </ul>
              <h5>Bước 4: Điền địa chỉ giao hàng
              </h5>
              <h5>Bước 5: Chọn phương thức vận chuyển và phương thức thanh toán
              </h5>
              <h5>Bước 6: Bấm vào “Hoàn tất đơn hàng”
              </h5>
              <h5 class="text-danger">Lưu ý: Quý khách chỉ được hủy đơn hàng khi người bán chưa duyệt đơn hàng.
              </h5>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Liên hệ">
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <br>
                <img class="image"
                  src="https://firebasestorage.googleapis.com/v0/b/managementimagesgreenlife.appspot.com/o/lien_he.png?alt=media&token=1696bbd4-2336-47a6-b2c4-81287bc01d16"
                  class="img-fluid" alt="Responsive image">
              </div>
              <div class="col-6 ">
                <p class="title-gt">Giới thiệu</p>
                <hr class="p-hr">
                <p class="title">Green Life</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp;
                  Green Life không chỉ mang lại cho bạn một không gian sống trong lành mà còn sang trọng với những loài
                  cây đẹp
                  mắt với giá trị phong thủy cao. </p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Có Green Life bạn không cần phải đau đầu trong việc lựa chọn sản
                  phẩm
                  trang trí cho cảnh quan của mình.</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Với dịch vụ chăm sóc khách hàng trực tuyến hiện đại và gần gũi.
                  Green
                  Life chắc chắn sẽ tạo cho bạn cảm giác
                  thoải mái và tin tưởng khi sử dụng dịch vụ của Green Life. </p>
                <div class="wapper d-flex justify-content-center col-sm-12">
                  <button name="button" type="button">Xem thêm</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="container">
              <p>    Để được tư vấn tận tình về dịch vụ, giải đáp thắc mắc trong quá trình mua hàng. Xin quý khách vui lòng liện hệ thông qua các hình thức sau:
              </p>
              <ul>
                <li> Số điện thoại: 0964452406</li>
                <li> Email: greenlife21@gmail.com</li>
              </ul>
            </div>
          </div>
        </div>
      </nb-tab>
      <nb-tab tabTitle="Chính sách đổi trả">
        <div class="container">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <br>
                <img class="image"
                  src="https://firebasestorage.googleapis.com/v0/b/managementimagesgreenlife.appspot.com/o/chinh-sach-doi-tra-bao-hanh.jpg?alt=media&token=bcc043d1-0bc2-46e7-b1ea-0bc8d3ebd0cc"
                  class="img-fluid" alt="Responsive image">
              </div>
              <div class="col-6 ">
                <p class="title-gt">Giới thiệu</p>
                <hr class="p-hr">
                <p class="title">Green Life</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp;
                  Green Life không chỉ mang lại cho bạn một không gian sống trong lành mà còn sang trọng với những loài
                  cây đẹp
                  mắt với giá trị phong thủy cao. </p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Có Green Life bạn không cần phải đau đầu trong việc lựa chọn sản
                  phẩm
                  trang trí cho cảnh quan của mình.</p>
                <p class="gt"> &nbsp;&nbsp;&nbsp;&nbsp; Với dịch vụ chăm sóc khách hàng trực tuyến hiện đại và gần gũi.
                  Green
                  Life chắc chắn sẽ tạo cho bạn cảm giác
                  thoải mái và tin tưởng khi sử dụng dịch vụ của Green Life. </p>
                <div class="wapper d-flex justify-content-center col-sm-12">
                  <button name="button" type="button">Xem thêm</button>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="container">
              <h5>QUY ĐỊNH ĐỔI TRẢ:</h5>
              <ul>
                <li>Khách hàng vui lòng kiểm tra hàng kỹ trước khi ký nhận với đơn vị vận chuyển. GAP sẽ không chịu trách nhiệm cho các trường hợp trả hàng lỗi do không kiểm tra kỹ
                </li>
                <li>Thời gian đổi trả hàng trong vòng 15 ngày kể từ ngày mua
                </li>
                <li>Sản phẩm được đổi phải còn nguyên tem và kèm hóa đơn mua hàng
                </li>
                <li>Sản phẩm đổi phải cùng giá hoặc có giá cao hơn
                </li>
                <li>Không áp dụng đổi hàng đối với sản phẩm khuyến mãi, phụ kiện và đồ lót
                </li>
                <li>Khách hàng vui lòng thanh toán chi phí đổi trả hàng nếu hàng không bị lỗi từ nhà sản xuất
                </li>
              </ul>
             <h5> QUY TRÌNH ĐỔI TRẢ:</h5>
             <ul>
               <li>Đổi trả trực tiếp qua đơn vị vận chuyển: Đối với hàng bị lỗi từ nhà sản xuất, Khách hàng gửi trả trực tiếp qua đơn vị vận chuyển ngay tại thời điểm nhận hàng
              </li>
               <li>Đổi trả trực tiếp tại cửa hàng: khách hàng vui lòng mang sản phẩm kèm hóa đơn đến một trong những cửa hàng GAP gần nhất để được hỗ trợ đổi sản phẩm
              </li>
               <li>Đối trả qua đường bưu điện: khách hàng vui lòng gửi sản phẩm, quà khuyến mãi (nếu có), kèm theo hóa đơn về địa chỉ: Hẻm 51, đường 3/2, phường Xuân Khánh, quận Ninh Kiều, thành phố Cần Thơ. Sau khi nhận được sản phẩm, GAP sẽ tiến hành kiểm tra sản phẩm theo quy định đổi sản phẩm (quá trình này mất khoảng từ 2 - 3 ngày). GAP sẽ thông báo kết quả cho khách hàng qua điện thoại và tin nhắn sau khi việc kiểm tra hoàn tất. Khách hàng chịu trách nhiệm về trạng thái nguyên vẹn của sản phẩm khi gửi về GAP.
              </li>
             </ul>
            </div>
          </div>
        </div>
      </nb-tab>
    </nb-tabset>

  </nb-card-body>
</nb-card>
