.setbackground{
  background-color: white;
}

// .hp-pc-lift-nav {
//   position: fixed;
//   top:630px;
//   bottom: 40px;
//   left:189px;
//   z-index: 100;
//   background-color: #f5f5f5;
// }

.main{
  background-color: whitesmoke;
  height: 120%;
}

.form-gap {
  padding-top: 40px;
}
.title{
  color: darkcyan;
}

.avatar{
  vertical-align: middle;
  width: 80px;
  height: 80px;
}
.khuyenmai{
  text-decoration: line-through;
}
.thanhtoan{
  background-color: #FBEFEF;
}
.themsanpham{
  background-color: darkcyan;
  color: white;
  border: none;
  width: 200px;
  // height: 45px;
}

#tongthanhtoan{
  color:#ee4d2d;
}

.order{
  height: 100px;
  border: 1px dashed #fffefb;
}
.themsanpham:hover{
  background-color: crimson;
}

.changeaddress{
  background-color: transparent;
  border: none;
  color: darkcyan;
}

.changeaddress:focus{
  outline:none
}

#address{
  font-size: 20px;
}

.input{
  width: 350px;
}

#hinhthucvanchuyen{
  border: 1px dashed #BDBDBD;
  background-color: #fafdff;
}
#phuongthucthanhtoan{
  border: 1px dashed #BDBDBD;
  background-color: #fafdff;
}

#changethanhtoan{
  display: none;
}

#changevanchuyen{
  display: none;
}

#luuthanhtoan{
  display: none;
}
#luuvanchuyen{
  display: none;
}
