.changepasswordbutton{
  background-color: darkcyan;
}

.fa-eye{
  display: none;
}

.buttonicon{
  background-color: transparent;
  border: none;
  padding: 0px;
}

#err_mat_khau_cu{
  display: none;
}

#err_mat_khau_moi{
  display: none;
}

#err_xac_nhan_mat_khau{
  display: none;
}

#err_khong_trung_mat_khau_cu{
  display: none;
}

#err_khong_trung_mat_khau_moi{
  display: none;
}

