
<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h3>Green Life</h3>
      <h6>greenlifeshop21@gmail.com</h6>
      <!-- <p disable>Pass: GreenLifeShop21</p> -->
    </div>

    <img src="{{thongtincuahang?.Anh_dai_dien}}" id="anh_dai_dien" alt="Soufiane FADIL"> <!--{{thongtincuahang?.Anh_dai_dien}}-->
  </div>


  <span class="subheader">Quản lý</span>
  <mat-divider></mat-divider>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="posts">
    <mat-icon>chrome_reader_mode</mat-icon>
    &nbsp;
    Bài viết/ Tin tức
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/default">
     <mat-icon>shop_two</mat-icon>
     &nbsp;
     Đơn đặt hàng
     <sup>
      <span class="badge badge-pill bg-danger">{{So_luong_phieu_dat}}</span>
     </sup>
    </a>

  <a mat-list-item>
    <div class="w3-bar">
      <div class="w3-dropdown-hover">
        <a class="dropdown-toggle"> <mat-icon>edit</mat-icon>  &nbsp; Thông tin<span class="caret"></span></a>
        <div class="w3-dropdown-content w3-bar-block ">
          <a routerLinkActive="list-item-active" routerLink="category" class="w3-bar-item w3-button">Danh mục</a>
          <a id="Quyen_SD" routerLinkActive="list-item-active" routerLink="staff" class="w3-bar-item w3-button">Nhân viên</a>
          <a routerLinkActive="list-item-active" routerLink="reciept" class="w3-bar-item w3-button">Hóa đơn nhập hàng</a>
          <a routerLinkActive="list-item-active" routerLink="customer" class="w3-bar-item w3-button">Khách hàng</a>
          <a routerLinkActive="list-item-active" routerLink="shippingtype" class="w3-bar-item w3-button">Hình thức vận chuyển</a>
          <a routerLinkActive="list-item-active" routerLink="billofsale" class="w3-bar-item w3-button">Hóa đơn bán hàng</a>
          <a routerLinkActive="list-item-active" routerLink="sales" class="w3-bar-item w3-button">Khuyến mãi</a>
          <a routerLinkActive="list-item-active" routerLink="typeoftree" class="w3-bar-item w3-button">Loại cây</a>
          <a routerLinkActive="list-item-active" routerLink="supplier" class="w3-bar-item w3-button">Nhà cung cấp</a>
          <a routerLinkActive="list-item-active" routerLink="payment" class="w3-bar-item w3-button">Phương thức thanh toán</a>
          <a routerLinkActive="list-item-active" routerLink="product" class="w3-bar-item w3-button">Sản phẩm</a>
          <a routerLinkActive="list-item-active" routerLink="store" class="w3-bar-item w3-button">Thông tin cửa hàng</a>
        </div>
      </div>
    </div>
  </a>

  <a mat-list-item>
    <div class="w3-bar">
      <div class="w3-dropdown-hover">
        <a class="dropdown-toggle"> <mat-icon>leaderboard</mat-icon> &nbsp; Thống kê<span class="caret"></span></a>
        <div class="w3-dropdown-content w3-bar-block ">
          <a routerLinkActive="list-item-active" routerLink="area" class="w3-bar-item w3-button">Theo quý</a>
          <!-- <a routerLinkActive="list-item-active" routerLink="scatter_plot" class="w3-bar-item w3-button">Danh mục sản phẩm yêu thích theo giới tính và độ tuổi</a> -->
        </div>
      </div>
    </div>
  </a>

  <!-- <mat-divider></mat-divider> -->
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
    <mat-icon>settings</mat-icon>
    &nbsp;
    Cài đặt
  </a> -->

  <!-- <span class="subheader">Khác</span>

  <mat-divider></mat-divider>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
    <mat-icon>location_on</mat-icon>
    &nbsp;
    Bản đồ
  </a> -->

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="contacts">
    <mat-icon>build</mat-icon>
    &nbsp;
    Công cụ
  </a> -->

  </mat-nav-list>

