mat-divider{
  color: #BDBDBD;
}

mat-nav-list{
  border: 2px solid #BDBDBD;
}

.subheader{
  font-size: 15px;
  color: #8f9bb3;
  padding-left: 5%;
}
:host{
  .mat-icon{
    vertical-align: middle;
  }
  .profile-card{
    text-align: center;
    padding: 0 2% 2% 2%;
    img{
      width: 120px;
      height: 120px;
      object-fit: cover;
      border-radius: 50%;
      border-radius: 50%;
  border: 2px solid darkcyan
    }
  }
}
mat-nav-list{
  width: 100%;
  height: 100%;
}
.w3-dropdown-hover{
  background-color: transparent;
}
.w3-dropdown-content{
  margin-left: 15% !important;
}

