.chart{
  height: 100%;
  width: 100%;
}

.ds{
  height: 550px;
    overflow-x:auto;
    overflow-y:auto;
}

#chitiet{
  background-color: transparent;
  color: darkcyan;
  border: none;

}

#chitiet:focus{
  outline: none;
}