<div class="main">
<app-header></app-header>
<app-liftnav></app-liftnav>
<div class="form-gap"></div>

<div class="container " id="list">
  <div class="row setbackground ">
    <div class="col-sm-12  font-weight-bold  ">
      <h3 class="title m-0 p-4">Green Life | Giỏ Hàng</h3>
    </div>
  </div>

  <div class="row setbackground p-2">
    <div class="col-sm-12" id="divbutton">
      <button (click)="XoaTatCa()" class="controlcheckbox" id="trash">
        <i class="fas fa-trash"></i>
      </button>
    </div>
  </div>
  <div class="row mt-2 setbackground p-2">
    <div class="col-sm-4 d-flex justify-content-start ">
      <div class="form-check ">
        <input class="form-check-input" value="{{checkAll}}" type="checkbox" [checked]="checkAll" id="flexCheckDefault"
          (change)="KTCheckedAll()">
      </div>
      Sản Phẩm
    </div>
    <div class="col-sm-2 d-flex justify-content-center p-0">
      Đơn giá
    </div>
    <div class="col-sm-2 d-flex justify-content-center p-0">
      Số lượng
    </div>
    <div class="col-sm-2 d-flex justify-content-center p-0">
    Tổng tiền
    </div>
    <div class="col-sm-2 d-flex justify-content-center p-0">
      Tác vụ
    </div>
  </div>

  <hr  width="100%" size="10px" />

  <div class="row mt-4 setbackground"  *ngFor="let eachSP of arrSanPham; let i = index">
    <div class="col-sm-4 d-flex justify-content-start pt-3 pb-3">
      <div class="form-check d-flex align-items-center">
        <input class="form-check-input" [id]="i" type="checkbox" value="{{checked[i]}}" [checked]="checked[i]" (change)="KTChecked(i)" name="itemcheck" >
      </div>
      <div >
        <img id="image" src={{eachSP.Hinh_anh}} class="avatar">
      </div>
      <div class="ml-2 ">{{eachSP.Ten_san_pham}}</div>
    </div>

    <!-- Hiển thị giá tiền ban đầu khi sản phẩm có khuyến mãi -->
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <div class="col-sm-6 p-0 khuyenmai" *ngIf="KiemTraKhuyeMai(eachSP)">
        {{eachSP.Gia | currency: "VND"}}
      </div>
      <!-- Hiển thị giá sau khi khuyến mãi -->
      <div class="col-sm-6 p-0" *ngIf="KiemTraKhuyeMai(eachSP)">
        {{eachSP.Gia - eachSP.Gia*giatrikhuyenmai | currency: "VND"}}
      </div>
      <!-- Hiển thị giá tiền cho sản phẩm không có khuyến mãi -->
      <div class="col-sm-6 p-0" *ngIf="!KiemTraKhuyeMai(eachSP)">
        {{eachSP.Gia - eachSP.Gia*giatrikhuyenmai | currency: "VND"}}
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <div class="buttons_added">
        <input class="minus is-form" type="button" value="-" (click)="GiamSoLuong(i)">
        <input aria-label="quantity" class="input-qty" max="10" min="1" type="number" id="So_luong{{i}}" (keyup)="KiemTraSoLuong(i)" (blur)="So_luong_mac_dinh(i)" [(ngModel)]="giohang[0]?.San_Pham[i].So_luong" #plus="ngModel" name="plus" >
        <input class="plus is-form" type="button" value="+" (click)="ThemSoLuong(i)" >
      </div>
    </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
     {{(eachSP.Gia - eachSP.Gia*giatrikhuyenmai) *giohang[0]?.San_Pham[i].So_luong | currency: "VND"}}
    </div>
    <div class="col-sm-2 d-flex justify-content-center align-items-center">
      <button class="buttonicon" (click)="Xoa(i)" data-controls-modal="modals_delete" data-backdrop="static" data-keyboard="false" >
        <i class="far fa-trash-alt m-1"></i>
      </button>
    </div>
    <!-- <hr  width="100%" size="10px" /> -->

  </div>
</div>

<div class="container d-flex justify-content-center" *ngIf="!KiemTraSoLuongSanPham()">
  <img src="https://maylocnuocgiatot.vn/images/empty-cart.png" id="cardempty" >
</div>
<div class="container d-flex justify-content-center mt-2" *ngIf="!KiemTraSoLuongSanPham()">
  <h6>Giỏ hàng của bạn còn trống</h6>
</div>
<div class="container mt-3  hp-pc-lift-nav" id="tong_tien" *ngIf="KiemTraSoLuongSanPham()">
  <div class="row setbackground p-5" >
    <div class="col-sm-12 d-flex justify-content-center align-items-center">
     <h6 class="m-0"> Tổng tiền hàng ({{lengthchecked}} sản phẩm): {{tong_tien | currency: 'VND'}}</h6>
      <button class="p-2 ml-5 themsanpham" (click)="Checkout()"><i class="fas fa-shopping-bag mr-1"></i> Mua Hàng</button>
    </div>
  </div>
</div>
</div>

