.form-gap {
  padding-top: 40px;
}

.title{
  color: darkcyan;
}

.avatar{
  vertical-align: middle;
  width: 80px;
  height: 80px;
}

.buttons_added {
  opacity:1;
  display:inline-block;
  display:-ms-inline-flexbox;
  display:inline-flex;
  white-space:nowrap;
  vertical-align:top;
}
.is-form {
  overflow:hidden;
  position:relative;
  background-color:#f9f9f9;
  height:2.2rem;
  width:1.9rem;
  padding:0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
  outline:none;
}
.is-form.minus {
  border-radius:4px 0 0 4px;
}
.is-form.plus {
  border-radius:0 4px 4px 0;
}
.input-qty {
  background-color:#fff;
  height:2.2rem;
  text-align:center;
  font-size:1rem;
  display:inline-block;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}


.controlcheckbox{
  background-color: transparent;
  border: none;
}


.buttonicon{
  background-color: transparent;
  border: none;
  padding: 0px;
}

.khuyenmai{
  text-decoration: line-through;
}

// .productname{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }

#divbutton{
  display: none;
}

html{
  background-color: aqua;
}

// #list{
//   height: 100%;
// }
.main{
  background-color: whitesmoke;
  height: 120%;
}

.setbackground{
  background-color: white;
}

.themsanpham{
  background-color: darkcyan;
  color: white;
  border: none;
  width: 250px;
  // height: 45px;
}

.themsanpham:hover{
  background-color: crimson;
}

// #tong_tien{
//   position:fixed;
//   top:630px;
//   bottom:50px;
//   left:182px;
//   right:182px;
//   z-index: 100;
// }

.hp-pc-lift-nav {
  position: fixed;
  top:630px;
  bottom: 40px;
  left:189px;
  z-index: 100;
  background-color: #f5f5f5;
}

#cardempty{
  height: 300px;
  width: 350px;
}
