<div class="main ">
  <div class="khoangcach"></div>
  <div class="container big-cont pt-3 ">
    <div class="row ml-3">
      <h4>Hồ sơ của tôi</h4>
    </div>
    <div class="row ml-3">
      <h6>Quản lý hồ sơ để bảo mật tài khoản</h6>
    </div>
    <hr>

    <div class="container ">
     <div class="row">
      <div class="col-3">
        <h5>Thông tin tài khoản</h5>
        &nbsp;&nbsp;&nbsp;&nbsp;

        <a class="accountinfo" routerLinkActive="list-item-active" routerLink="profile"> Hồ sơ</a>
        <br> &nbsp;&nbsp;&nbsp;&nbsp;
        <a class="accountinfo" routerLinkActive="list-item-active" routerLink="changepassword"> Đổi mật khẩu</a>

      </div>
      <div class="col-9 ">
        <router-outlet></router-outlet>
      </div>
     </div>
    </div>
  </div>

</div>
