.main{
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
}

.comment{
  background-color: white;
}

.khoangcach{
  background-color: whitesmoke;
  height: 30px;
}

.tichdiem{
  border: 1px solid rgba(224,168,0,.4) ;
}
