  <div class="row">
    <div class="col-sm-12">
      <nb-card>
        <nb-card-body>

          <nb-tabset fullWidth>
            <nb-tab tabTitle="Chăm sóc - Cắt tỉa">
              <div class="container">
                <p>    Để được tư vấn tận tình về dịch vụ. Xin quý khách vui lòng liện hệ thông qua các hình thức sau:
                </p>
                <ul>
                  <li> Số điện thoại: 0964452406</li>
                  <li> Email: greenlife21@gmail.com</li>
                </ul>
                  </div>
            </nb-tab>
            <nb-tab tabTitle="Tạo hình">
              <div class="container">
                <p>    Để được tư vấn tận tình về dịch vụ. Xin quý khách vui lòng liện hệ thông qua các hình thức sau:
                </p>
                <ul>
                  <li> Số điện thoại: 0964452406</li>
                  <li> Email: greenlife21@gmail.com</li>
                </ul>
                  </div>
            </nb-tab>
            <nb-tab tabTitle="Cho thuê">
              <div class="container">
                <p>    Để được tư vấn tận tình về dịch vụ. Xin quý khách vui lòng liện hệ thông qua các hình thức sau:
                </p>
                <ul>
                  <li> Số điện thoại: 0964452406</li>
                  <li> Email: greenlife21@gmail.com</li>
                </ul>
                  </div>
            </nb-tab>
            <nb-tab tabTitle="Trang trí sự kiện">
              <div class="container">
                <p>    Để được tư vấn tận tình về dịch vụ. Xin quý khách vui lòng liện hệ thông qua các hình thức sau:
                </p>
                <ul>
                  <li> Số điện thoại: 0964452406</li>
                  <li> Email: greenlife21@gmail.com</li>
                </ul>
                  </div>
            </nb-tab>
          </nb-tabset>

        </nb-card-body>
      </nb-card>

    </div>
  </div>


