<!-- Footer -->
<footer class="page-footer font-small  pt-4 ">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold  mt-3 mb-4 title">Green Life</h5>
        <p class="text">Green Life không chỉ mang lại cho bạn một không gian sống trong lành mà còn sang trọng với những loài cây đẹp
          mắt với giá trị phong thủy cao. </p>
        <p class="text">Có Green Life bạn không cần phải đau đầu trong việc lựa chọn sản phẩm trang trí cho cảnh quan của mình.</p>
        <p class="text">Với dịch vụ chăm sóc khách hàng trực tuyến hiện đại và gần gũi. Green Life chắc chắn sẽ tạo cho bạn cảm giác
          thoải mái và tin tưởng khi sử dụng dịch vụ của Green Life. </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Thông tin liên hệ</h5>

        <ul class="list-unstyled">
          <li>
            <p>
              <!-- <img src="https://img.icons8.com/wired/20/000000/shop.png" class="dark"/> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
              </svg>
              &nbsp;
              <a href="#!" class="text">   Shop Green Life chuyên cung cấp cây cảnh và các dịch vụ cây cảnh.</a>
            </p>
          </li>
          <li>
            <p>
              <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/address.png" /> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
              </svg>
              &nbsp;
              <a href="#!"class="text">   Nhà vườn: toàn quốc</a>
            </p>
          </li>
          <li>
            <p>
              <!-- <img src="https://img.icons8.com/carbon-copy/20/000000/phone-not-being-used.png" /> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-forward" viewBox="0 0 16 16">
                <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zm10.762.135a.5.5 0 0 1 .708 0l2.5 2.5a.5.5 0 0 1 0 .708l-2.5 2.5a.5.5 0 0 1-.708-.708L14.293 4H9.5a.5.5 0 0 1 0-1h4.793l-1.647-1.646a.5.5 0 0 1 0-.708z"/>
              </svg>
              &nbsp;
              <a href="#!"class="text">   Điện thoại: 0964452406 </a>
            </p>
          </li>
          <li>
            <p>
              <!-- <img src="https://img.icons8.com/ios/20/000000/email-open.png" /> -->
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
              </svg>
               &nbsp;
              <a href="#!" class="text">   Email: greenlife21@gmail.com</a>
            </p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none">

      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Hình ảnh</h5>

        <span>
          <img src="../../../../assets/images/gt1.png" class="image">
          <img src="../../../../assets/images/gt2.jpg" class="image">
          <img src="../../../../assets/images/gt3.jpg" class="image">
          <img src="../../../../assets/images/gt4.jpg" class="image">
          <img src="../../../../assets/images/gt5.jpg" class="image">
          <img src="../../../../assets/images/gt6.webp" class="image">
        </span>

      </div>
      <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none">
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Đăng ký ngay!</h5>
    </li>
    <li class="list-inline-item">
      <a routerLink="/login" routerLinkActive="router-link-active"  class="btn btn-danger btn-rounded">Đăng ký</a>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating  mx-1" href="#">
        <img src="https://img.icons8.com/fluent/48/000000/facebook-new.png" />
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating  mx-1" href="#">
        <img src="https://img.icons8.com/fluent/48/000000/twitter.png"  /> </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-gplus mx-1" href="#">
        <img src="https://img.icons8.com/nolan/48/instagram-new.png" /> </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-li mx-1">
        <i class="fa fa-linkedin-in"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-dribbble mx-1" href="#">
        <img src="https://img.icons8.com/color/48/000000/youtube-play.png" /> </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

