

.card-img-top{
  vertical-align: middle;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

div.stars {
  // width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 2px;
  font-size: 14px;
  color: #444;
  transition: all .2s;
}


.gia{
  background-color: #FFFAFA;
}

.giagoc{
  text-decoration: line-through;
}

.khuyenmai{
  color: red;
}

.form-gap {
  padding-top: 60px;
}

.icon{
  background-color: transparent;
}

.detail{
  // background-color: rgb(255, 255, 255);
  padding: 20px;
  background-color: rgb(239, 239, 239);
}
.themsanpham:hover{
  background-color: crimson;
}

.mota{
  background-color: rgb(239, 239, 239);

}

.buttons_added {
  opacity:1;
  display:inline-block;
  display:-ms-inline-flexbox;
  display:inline-flex;
  white-space:nowrap;
  vertical-align:top;
}
.is-form {
  overflow:hidden;
  position:relative;
  background-color:#f9f9f9;
  height:2.2rem;
  width:1.9rem;
  padding:0;
  text-shadow:1px 1px 1px #fff;
  border:1px solid #ddd;
}
.is-form:focus,.input-text:focus {
  outline:none;
}
.is-form.minus {
  border-radius:4px 0 0 4px;
}
.is-form.plus {
  border-radius:0 4px 4px 0;
}
.input-qty {
  background-color:#fff;
  height:2.2rem;
  text-align:center;
  font-size:1rem;
  display:inline-block;
  vertical-align:top;
  margin:0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
  border-left:0;
  border-right:0;
  padding:0;
}
.input-qty::-webkit-outer-spin-button,.input-qty::-webkit-inner-spin-button {
  -webkit-appearance:none;
  margin:0;
}

.themsanpham{
  background-color: darkcyan;
  color: white;
}

.avatar{
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid darkcyan;
}

#Khachhang_id{
  font-size: 15px;
  font-weight: bold;
  margin-left: 5px;
}

.avatarcomment{
  vertical-align: middle;
  width: 70px;
  height: 70px;
}

#buttonhinhanh{
  border:  none;
}

.avatarzoom{
  vertical-align: middle;
  width: 470px;
  height: 470px;

}

// #zoom{
//   display: none;
// }
#star_customer_yellow{
  color: yellow;
}

